    <script defer src="../../public/scripts/navbar.js"></script>
    
    
    <nav id="navbar" class="lightNav">
        <a href="/" class="logo">
        
        <img src="../../public/images/heading.svg" loading="lazy" alt="" class="logo-image">
        </a>
        <label for="nav-toggle" id="hamburger-icon"> <i class ="fas fa-bars"></i></label>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <div id="menu-items">
            {{!-- <a href="/" >Home</a> --}}
            <a href="#" >About Us</a>
            <a href="#" >Contact Us</a>
            {{!-- <a href="#" class="btn-nav">For Agents</a> --}}
            <a href="/users/login" class="btn-nav">Log in</a>
        </div>



    </nav>