    <script defer src="../../public/scripts/navbar.js"></script>
    
    
    <nav id="navbar" class="lightNav">
        <a href="/" class="logo">
        
        <img src="../../public/images/heading.svg" loading="lazy" alt="" class="logo-image">
        </a>
        <label for="nav-toggle" id="hamburger-icon"> <i class ="fas fa-bars"></i></label>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <div id="menu-items">
            <% if (typeof url != 'undefined') { %> 
                <% if (user && url=='/dashboard') { %>
                    <a href="/users/profile" >Profile</a>
                <% } else if (user && url=='/profile') { %> 
                    <a href="/users/dashboard" >Dashboard</a>
                <% } else { %> 
                    <a href="#" >About Us</a>
                <% } %>
            <% } else { %> 
                <a href="#" >About Us</a>
            <% } %>

            <a href="#" >Contact Us</a>
            <a id="login-button" href="/users/login" class="btn-nav">Log in</a>
        </div>

    <!-- xxxxxxxxxx -->
    <% if (typeof url != 'undefined') { %> 
        <% if (url !='/register' && url !='/login' ) { %>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/60d3ac8e65b7290ac6379384/1f8tdk3qq';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <% } %>
    <% } %>


    </nav>