    <script defer src="../../public/scripts/navbar.js"></script>
    
    
    <nav id="navbar" class="lightNav">
        <a href="/" class="logo">
        
        <img src="../../public/images/heading.svg" loading="lazy" alt="" class="logo-image">
        </a>
        <label for="nav-toggle" id="hamburger-icon"> <i class ="fas fa-bars"></i></label>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <div id="menu-items">
            <% if (typeof url != 'undefined') { %> 
                <% if (user && url=='/dashboard') { %>
                    <a href="/users/profile" >Profile</a>
                <% } else if (user && url=='/profile') { %> 
                    <a href="/users/dashboard" >Dashboard</a>
                <% } else { %> 
                    <a href="#" >About Us</a>
                <% } %>
            <% } else { %> 
                <a href="#" >About Us</a>
            <% } %>

            <a href="#" >Contact Us</a>
            <a id="login-button" href="/users/login" class="btn-nav">Log in</a>
        </div>

    <!-- xxxxxxxxxx -->
    <% if (typeof url != 'undefined') { %> 
        <% if (url !='/register' && url !='/login' ) { %>
            <div id="chatbox">
               <%- include ('../partials/chatbox', {user: user}) %>
            </div>
        <% } %>
    <% } %>

    </nav>