<footer class="footer-section">
    <div class="w-container">
        <div class="w-row">
            <div class="logo-column w-col w-col-6"><a href="/"><img src="../../public/images/logorecolored.png" loading="lazy"
                        width="90" alt=""></a>
                <div class="logo-text"><span class="sark-title">SARK</span><br>Insurance Services</div>
            </div>
            <div class="footer-column w-col-2">
                <h4 href="contact.html" class="footer-title">Contact us</h4>
                <div class="social-icon-group">
                    <a href="https://www.facebook.com/SARKInsurance" class="social-icon w-inline-block"><img
                            src="../../public/images/facebook-icon.svg" width="45" alt="" class="social-icon"></a>
                    <a href="https://www.facebook.com/SARKInsurance" class="social-icon w-inline-block"><img
                            src="../../public/images/twitter-icon.svg" width="45" alt="" class="social-icon"></a>
                    <a href="https://www.linkedin.com/company/sark-insurance-services-inc"
                        class="social-icon w-inline-block"><img src="../../public/images/linkdin-icon-white.svg" width="45" alt=""
                            class="social-icon"></a>
                    <a href="https://www.linkedin.com/company/sark-insurance-services-inc"
                        class="social-icon w-inline-block"><img src="../../public/images/email-icon-white.svg" width="45" alt=""
                            class="social-icon"></a>
                </div>
            </div>
            <div class="footer-column w-col-2">
                <h4 class="footer-title">Sitemap</h4>
                <a href="#" class="footer-link">Home</a>
                <a href="#" class="footer-link">Login</a>
                <a href="#" class="footer-link">Contact Us</a>
                <a href="#" class="footer-link">Customer Service</a>
            </div>
            <div class="footer-column w-col-2">
                <h4 class="footer-title">Legal</h4>
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="#" class="footer-link">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="w-container">
        <div>&copy;Copyright 2020 SARK Insurance Services, INC. All Rights Reserved. Brand logos for demonstration
            purposes only.</div>
    </div>
</div>