
<div id="dashboard-nav">
    <a href="dashboard" >
        <p>Overview</p>
    </a>
    <a href="previous-policies" >
        <p>Previous Policies</p>
    </a>
    <a href="documents" >
        <p>Documents</p>
    </a>
    <a href="application" >
        <p>Application</p>
    </a>
    <a href="new-policy" >
        <p>Open New Policy</p>
    </a>
</div>