
{{#each errors as |item|}}
    <p class="message">{{item.msg}}</p>
{{/each}}

{{#each error as |e-item|}}
    <p class="message">{{e-item}}</p>
{{/each}}

{{#each success as |s-item|}}
    <p class="message">{{s-item}}</p>
{{/each}}
