    <footer id="footer-area">
        <div id="footer">
            <div id="footer-logo">
                <a href="#"><img src="public/images/logorecolored.png" ></a>
                <div>
                    <p class="footer-logo-top">SARK</p>
                    <p class="footer-logo-bottom">INSURANCE SERVICES</p>
                </div>
            </div>
            <div id="contact">
                <a href="contact.html">Contact Us</a>
                <p>wc@sarkinsurance.com</p>
                <p>(408) 262-9190</p>
            </div>
            <div>        
                <a href="https://www.facebook.com/SARKInsurance"><i class="fab fa-facebook-square social"></i></a>
                <a href="https://www.linkedin.com/company/sark-insurance-services-inc"><i class="fa fa-linkedin-square social"></i></a>
            </div>
            <div>
                <div><a href="about-us.html">About us</a></div>
                <div><a href="products.html">Products</a></div>
                <div><a href="https://www.policymela.com/">PolicyMela by SARK</a></div>
            </div>
            <div></div>
            <div >
                <div ><a href="about-us.html">Something else</a></div>
                <div><a href="products.html">Another link</a></div>
                {{!-- This link is empty. It was added to keep the spacing consistent --}}
                <div style="visibility: hidden;"><a href="">Empty</a></div> 
            </div>
        </div>


        <div id="copy">&copy;2021 SARK Insurance Services, INC.</div>

    </footer>

    <!-- The following line initiates Animation on Scroll functionality -->
    <script>AOS.init();</script>
   
</body>
</html>