    <footer id="footer-area">
        <div id="footer">
            <div id="footer-logo">
                <a href="#"><img src="public/images/logorecolored.png" ></a>
                <div>
                    <p class="footer-logo-top">SARK</p>
                    <p class="footer-logo-bottom">INSURANCE SERVICES</p>
                </div>
            </div>
            <div id="contact">
                <p class="footer-heading" href="contact.html"><b>CONTACT US</b></p>
                <div>
                    <a href="https://www.facebook.com/SARKInsurance"><i class="fab fa-facebook-square social"></i></a>
                    <a href="https://www.facebook.com/SARKInsurance"><i class="fab fa-twitter social"></i></a>
                    <a href="https://www.linkedin.com/company/sark-insurance-services-inc"><i class="fa fa-linkedin-square social"></i></a>
                    <a href="https://www.linkedin.com/company/sark-insurance-services-inc"><i class="fas fa-envelope social"></i></a>
                </div>
                {{!-- <p>wc@sarkinsurance.com</p>
                <p>(408) 262-9190</p> --}}
            </div>
            <div>        
                <p class="footer-heading"><b>SITEMAP</b></p>
                <a href="">Home</a>
                <a href="">Login</a>
                <a href="">Contact Us</a>
                <a href="">Customer Service</a>
            </div>
            <div>        
                <p class="footer-heading"><b>LEGAL</b></p>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
            </div>
        </div>



    </footer>
    <div id="copy">&copy;2021 SARK Insurance Services, INC. All rights reserved. Brand logos for demonstration purposes only.</div>

    <!-- The following line initiates Animation on Scroll functionality -->
    <script>AOS.init();</script>
   
</body>
</html>