<div class="form-section ">
  <div class="hero-image visible" id="intro-image">
    <h1 class="image-caption">Get 20% off your Worker’s Compensation in 30 seconds.</h1>
  </div>
  <div class="hero-page visible" id="slide1">
    <h1 class="hero-caption">Instant Quote.<br></h1>
    <h1 class="hero-caption">No account needed.<br></h1>
    <div class="hero-question w-container">
      <h1 class="question-title">What&#x27;s your business?</h1>
      <div class="first-buttons">
        <button id="slide1Local" class="form-button w-inline-block"><img src="/public/images/local.svg" loading="lazy"
            width="40" alt="" class="form-button-image">
          <h3 class="form-button-text">Local Trucking</h3>
        </button>
        <button id="slide1Towing" class="form-button w-inline-block"><img src="/public/images/towing.svg" loading="lazy"
            width="40" alt="" class="form-button-image">
          <h3 class="form-button-text">Towing</h3>
        </button>
        <button id="slide1LongHaul" class="form-button w-inline-block"><img src="/public/images/longdistance.svg"
            loading="lazy" width="40" alt="" class="form-button-image">
          <h3 class="form-button-text">Long Distance</h3>
        </button>
        <button id="slide1Sand" class="form-button w-inline-block"><img src="/public/images/sandandgravel.svg"
            loading="lazy" width="40" alt="" class="form-button-image">
          <h3 class="form-button-text">Sand &amp; Gravel</h3>
        </button>
      </div>
      <div class="progress-block">
        <img src="/public/images/darkemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
      </div>
    </div>
  </div>
  {{!-- Slide 2 added here --}}
  <div class="hero-page" id="slide2">
    <div class="progress-bar">
      <div onclick="initializeForm()"><img src="/public/images/darkarrow.svg" loading="lazy" width="33" alt=""
          class="arrow"></div>
      <div class="progress-block bar">
        <img src="/public/images/darkemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
        <img src="/public/images/lightemptycircle.svg" loading="lazy" alt="">
      </div>
    </div>
    <div class="hero-question w-container">
      <h1 class="question-title">How far do your trucks drive?</h1>
      <div class="second-question">
        <a href="#" class="form-button vertical w-inline-block">
          <h3 id="slide2Low" class="form-button-text">&lt; 200 miles</h3>
        </a>
        <a href="#" class="form-button vertical w-inline-block">
          <h3 id="slide2Medium" class="form-button-text">200 - 500 miles</h3>
        </a>
        <a href="#" class="form-button vertical w-inline-block">
          <h3 id="slide2High" class="form-button-text">&gt; 500 miles</h3>
        </a>
      </div>
    </div>
  </div>
</div>