    <nav id="navbar">
        <a href="/" class="logo"><img src="public/images/logorecolored.png" />
            <div>
                <p id="truckercomp">trucker<span id="comp">comp</span></p><p id="by-sark">by SARK Insurance Services</p>
            </div>
        </a>
        <label for="nav-toggle" id="hamburger-icon"> <i class ="fas fa-bars"></i></label>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <div id="menu-items">
            <a href="/" >Home</a>
            <a href="#" >About Us</a>
            <a href="#" >Become an Agent</a>
            <a href="#" class="btn-nav">For Agents</a>
            <a href="/login" class="btn-nav">Log in</a>
        </div>



    </nav>