    <nav id="navbar">
            <a href="#" class="logo"><img src="public/images/logorecolored.png" />
                <div>
                    <p id="truckercomp">trucker<span id="comp">comp</span></p><p>by SARK Insurance Services</p>
                </div>
            </a>
            <a href="#" >Home</a>
            <a href="#" >About Us</a>
            <a href="#" >Become an Agent</a>
            <a href="#" class="btn-nav">For Agents</a>
            <a href="#" class="btn-nav">Log in</a>

    </nav>