<div class="spoiler">
    <div>TruckerComp provides real-time data for DOT and insurance queries.</div>
</div>
<div class="partners">
    <div class="partners-layout">
        <img src="/public/images/partners/aig.png" loading="lazy" width="119" alt="" class="partner">
        <img src="/public/images/partners/clear-spring.png" loading="lazy" alt="" class="partner">
        <img src="/public/images/partners/employers.png" loading="lazy" alt="" class="partner">
        <img src="/public/images/partners/greatamerican.png" loading="lazy" width="142" alt="" class="partner">
        <img src="/public/images/partners/markel.png" loading="lazy" alt="" class="partner">
        <img src="/public/images/partners/pie.png" loading="lazy" alt="" class="partner">
        <img src="/public/images/partners/zurich.png" loading="lazy" alt="" class="partner">
        <img src="/public/images/partners/statefund.jpg" loading="lazy" alt="" class="partner">
    </div>
</div>
<div class="bigger-container">
    <h1 class="title center">TruckerComp is here to help.<br><span class="subtitle spanned">Our experienced
            professionals will help you get the best coverage for your business.</span></h1>
    <div class="triple-image-caption-container">
        <div class="triple-caption">
            <div class="triple-image-mask"><img src="/public/images/moneychat.svg" alt="" class="triple-caption-image"></div>
            <h3 class="caption">Get the best quotes across <strong>12+ companies.</strong></h3>
        </div>
        <div>
            <div class="triple-image-mask"><img src="/public/images/manypeople.svg" alt="" class="triple-caption-image"></div>
            <h3 class="caption">Get personalized responses
                from our <strong>24/7</strong> team of agents.</h3>
        </div>
        <div>
            <div class="triple-image-mask"><img src="/public/images/onlinefile.svg" alt="" class="triple-caption-image"></div>
            <h3 class="caption"><strong>Instantly</strong>
                access your data from anywhere.</h3>
        </div>
    </div>
</div>
<div class="bigger-container">
    <div class="centered-container w-container">
        <div class="qa-block">
            <h1 class="title main">Q &amp; A</h1>
            <h2 class="title">Q: What is worker&#x27;s compensation insurance?</h2>
            <h3 class="subtitle">A: Insurance to protect you from liability.</h3>
            <p class="body-text">Accidents happen. If an employee gets injured or becomes ill on the job, it is legally
                your problem. Worker&#x27;s Compensation insurance covers medical costs and lost wages, as well as
                rehabilitation or physical therapy. In exchange, employees relinquish their right to sue their employer
                for negligence.</p>
        </div>
        <div class="qa-block">
            <h2 class="title">Q: Do I need worker&#x27;s comp?</h2>
            <h3 class="subtitle">A: Yes, worker&#x27;s compensation insurance is legally required for every business in
                the      United States. If you do not have worker&#x27;s comp, penalties are severe.</h3>
            <p class="body-text">In California, failing to have workers&#x27; compensation coverage is a criminal
                offense. <a
                    href="https://www.dir.ca.gov/dwc/faqs.html#:~:text=A%3A%20Failing%20to%20have%20workers,to%20one%20year%2C%20or%20both."
                    target="_blank">Section 3700.5</a> of the California Labor Code make it a misdemeanor with fines up
                to $10,000.<br><br>If an employee get hurt on the job and you are not insured, <strong>you may be issued
                    a penalty of up to $100,000.</strong></p>
        </div>
        <div class="qa-block">
            <h2 class="title">Q: How much does it cost?</h2>
            <h3 class="subtitle">A: <a href="#hero" class="link">Get an estimate right now!</a>
            </h3>
            <p class="body-text">California Worker&#x27;s Compensation insurance varies based on the type of employee
                and the type of load your company carriers. TruckerComp looks through thousands of records and several
                companies to provide you the best estimate of your policy.<br><br>Go through the form and talk to our
                agents - you can get an estimate of your policy in less than a minute!<strong></strong></p>
        </div>
    </div>
    <div id="testimonials-area" class="form-container">
        <div class="title center">
            <h2>A Commitment to Service</h2>
            <!-- <h4>Our clients are the ...</h4> -->
        </div>
        <div class="triple-image-caption-container">
            <div class="testimonial">
                <div class="testimonial-header">
                    <div class="testimonial-image">
                        <img src="../../public/images/workers.jpg">
                    </div>
                    <h4>Sandeep Kumar</h4>
                </div>
                <div class="testimonial-body">Professional and Knowledgable</div>
            </div>
            <div class="testimonial">
                <div class="testimonial-header">
                    <div class="testimonial-image">
                        <img src="../../public/images/trucking.jpg">
                    </div>
                    <h4>SEA Star Trucking</h4>
                </div>
                <div class="testimonial-body">We have been working with SARK Insurance Services, INC. for over five years. In that time, we have gotten nothing but the best from the SARK team. Their experiences in the field helped us save thousands of dollars in Worker's Compensation audits! We happily endorse SARK Insurance Services.</div>
            </div>
            <div class="testimonial">
                <div class="testimonial-header">
                    <div class="testimonial-image">
                        <img src="../../public/images/trucking-4.jpg">
                    </div>
                    <h4>KB Logistics</h4>
                </div>
                <div class="testimonial-body">Our company was almost crushed by a Worker's Compensation audit, but Khushvinder stepped in and cut down our penalty by nearly $10,000! We wouldn't be around without the help of SARK! </div>
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <h2 class="get-phone">Need help getting coverage? Call us at (408) 262-9190.</h2>
        <h3 class="get-phone subtitle">Available Monday - Friday 10 a.m. - 8 p.m. PST</h3>
        <a href="4082629190" class="button w-button">CALL NOW</a>
    </div>
</div>

        <!-- <h2 class="get-phone">Or... submit this form to wc@sarkinsurance.com</h2>
        <p class="subtitle">We will take around 1 - 2 business days to answer any questions or concerns.</p>
        <div id="formInstructions" class="small-text"><em class="italic-text">Fields marked with an asterisk (*) are
                required.</em></div>
        <div class="w-form">
            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form">
                <div class="contact-form-grid">
                    <div><label for="First-Name" id="contact-first-name" class="subtitle">First Name *</label><input
                            type="text" class="field w-input" maxlength="256" name="First-Name" data-name="First Name"
                            id="First-Name" required=""></div>
                    <div><label for="Last-Name" id="contact-last-name" class="subtitle">Last Name *</label><input
                            type="text" class="field w-input" maxlength="256" name="Last-Name" data-name="Last Name"
                            id="Last-Name" required=""></div>
                    <div><label for="Email" id="contact-email" class="subtitle">Email *</label><input type="email"
                            class="field w-input" maxlength="256" name="Email" data-name="Email" id="Email" required="">
                    </div>
                    <div><label for="Contact-Phone-Number" id="contact-phone" class="subtitle">Phone #</label><input
                            type="tel" class="field w-input" maxlength="256" name="Contact-Phone-Number"
                            data-name="Contact Phone Number" id="Contact-Phone-Number"></div>
                    <div><label for="Message" id="contact-message">Message</label><textarea data-name="Message"
                            maxlength="5000" id="Message" name="Message" class="field w-input"></textarea></div>
                </div><input type="submit" value="SUBMIT" data-wait="Please wait..." class="button w-button">
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div> -->
