<div class="form-page" id="slide5">
    <!-- Progress bar component. Finalizes reset and additions. -->
    <div class="progress-bar">
        <div onclick="changeSlide(-1)">
            <img src="/public/images/darkarrow.svg" loading="lazy" width="33" alt="" class="arrow">
        </div>
        <div class="progress-block fullscreen">
            <img src="/public/images/darkfullcircle.svg" loading="lazy" alt="">
            <img src="/public/images/darkfullcircle.svg" loading="lazy" alt="">
            <img src="/public/images/darkfullcircle.svg" loading="lazy" alt="">
            <img src="/public/images/darkfullcircle.svg" loading="lazy" alt="">
            <img src="/public/images/darkemptycircle.svg" loading="lazy" alt="">
        </div>
        <div onclick="initializeForm()" class="form-button reset w-inline-block">
            <h3 class="form-button-text reset">Reset</h3>
        </div>
    </div>



    <div id="quotes-area">
        <div class="quote">
            <h2 class="quote-header">Your TruckerComp Quote</h2>
            <div id="confirmation">
                <h3 id="qName"></h3>
                <div>
                    <h4>DOT</h4>
                    <p id="q0"></p>
                </div>
                <div>
                    <h4>Business Type</h4>
                    <p id="q1"></p>
                </div>
                <div>
                    <h4>Total Payroll</h4>
                    <p id="q4"></p>
                </div>
            </div>
            <div class="quote-body">
                <!-- <h1>We estimate a monthly worker's comp premium of</h1> -->
                <h4 class="quote-result">$<span id="low-end"></span>/month - $<span id="high-end"></span>/month</h4>

                <div id="action-area">
                    <div>
                        <h4>Enter your email address to receive your quote <input type="email" name="slide5Email" id="slide5Email"></h4>
                        <p id='emailError' class="error">Please enter a valid email address</p>
                    </div>
                    <div id="submit" class="form-button big disabled w-inline-block">
                        <h3 class="form-button-text">Send</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="quote">
            <h2 class="quote-header">Quote C</h2>
            <div class="quote-body">
                <h4 class="quote-result">$<span id="high-end"></span>/month</h4>
                <p>Lorem ipsum dolor.</p>
                <p>Lorem ipsum</p>

                <button class="select-button">Select</button>

            </div>
        </div> -->
    </div>




</div>