/* ----------
  This style sheet will be indexed by the vertical position of elements
  1. Whole page elements
  2. Navbar elements
  3. Hero elements
  4. About section elements
  5. Footer elements
  6. Media queries

  Each sub-section is organized alphabetically by:
  1. Elements
  2. Classes
  3. IDs
  4. Pseudoelements
  ---------- */

/* ----------
  Whole page
---------- */

body {
    background: white;
    /* font-family: 'Nunito'; */
    /* font-family: Arial; */
    /* font-family: 'Open Sans'; */
    font-family: 'Sarabun';
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 10px 0;
}

h3 {
    font-size: 20px;
    padding: 5px 0;
    font-weight: 300;
}

.indented {
    padding: 1% 16%;
}

.logo {
    height: 70px;
    vertical-align: top;
}

.title {
    height: 64px;
    vertical-align: top;
}

/* ----------
   Navbar
---------- */

.btn-test {
    float: right;
    padding: 10px;
    color: white;
    background: red;
    height: 24px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}



/* ----------
    Hero
---------- */

input {
    font-size: 18px;
}

.active {
    color: #666!important;
}

.btn-blue {
    background: #1f486a;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 150px;
    height: 200px;
    border-radius: 0;
}

.btn-next {
    cursor: unset;
    background: #666;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    position: relative;
    height: 26px;
    transition: background-color 0.6s ease;
}

.btn-next span {
    position: absolute;
}

.btn-reset {
    background: #c45f0d;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 150px;
    height: 200px;
    border-radius: 0;
}

.ctr {
    text-align: center;
    right: 0%;
    left: 0%;
}

.fa-circle {
    color: #d8d8d8;
    margin: 0 4px;
}

.heading-area {
    margin: 1% 0;
}

.icon-area {
    margin: 30px 0 20px 0;
    display: grid;
    grid-template-columns: 2fr 11fr 4fr 3fr;
    font-size: 18px;
    align-items: center;
}

.icons {
    text-align: center;
    transition: color 0.6s ease;
}

.material-icons {
    display: inline-block;
    font-size: 56px;
    padding-bottom: 0;
}

.rt-align {
    text-align: right;
    position: relative;
    right: 4px;
}

.selected {
    background: #3499cc;
}

.slide {
    min-width: 78vw;
    transition: transform 0.5s;
}

.tile {
    border: none;
    transition: all ease 250ms;
    padding: 22px 25px;
}

.tile:hover {
    background: #3499cc;
}

.tile:focus {
    background: #3499cc;
    border: none;
}

.tile-area {
    gap: 26px;
    display: flex;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 1fr;
    padding-bottom: 20px;
}

.tile-area p {
    margin-top: 0;
}

#carousel {
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#empError, #zipError {
    margin-top: 0;
    padding: 0;
    visibility: hidden;
    font-style: italic;
    font-size: 14px;
    color: red;
}

#hero {
    min-height: 600px;
    background: rgb(196, 204, 204);
    background: url('background-design.jpg');
}

#hero a {
    text-decoration: none;
    cursor: pointer;
}

::placeholder { 
    font-style: italic;
}

/* ----------
    About
---------- */

.dk-blue {
    color: white;
    background: #1F486A;
}

.floating-tile {
    flex-basis: 100%;
    height: 400px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.floating-tile-img {
    margin: -4px 0;
    object-fit: cover;
    height: 100px;
    width: 100%;
    padding: 0;
}

.floating-tile-img-med {
    object-fit: contain;
    height: 100%;
    width: 40px;
    padding: 0;
    display: none;
}

.floating-tile-text {
    padding: 20px;
    display: flex;
}

.floating-tile-text h4 {
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}

.floating-tile-text p {
    font-size: 17px;
    line-height: 1.8rem;
}

.lt-blue {
    color: white;
    background: #3499cc;
}

.silver {
    color: black;
    background: #edecec;
}

#about {
    min-height: 300px;
    margin-bottom: 40px;
}

#about-headline {
    text-align: center;
}

#about-headline h2 {
    font-size: 38px;
}

#about-headline h6 {
    font-size: 21px;
    font-weight: 400;
}

#floating-tile1 {
    position: relative;
    opacity: 0;
    top: 600px;
    transition: all 1s cubic-bezier(0, 1, 1, 1);
}

#floating-tile2 {
    position: relative;
    opacity: 0;
    top: 600px;
    transition: all 4s cubic-bezier(0, 1, 1, 1);
}

#floating-tile3 {
    position: relative;
    opacity: 0;
    top: 600px;
    transition: all 7s cubic-bezier(0, 1, 1, 1);
}

#floating-tile-area {
    position: relative;
    display: flex;
    column-gap: 22px;
}

#subline {
    padding-top: 0;
    margin: 0 0 50px 0;
    font-style: italic;
    text-align: center;
}

/* ----------
    About
---------- */

.circle {
    border-radius: 100%;
}

/* .spacer {
    min-height: 40px;
} */

.chevron {
    opacity: .5;
    font-size: 2rem;
    cursor: pointer;
}

.chevron:hover {
    opacity: .8;
}

.fa-chevron-left {
    position: absolute;
    left: -26px;
    top: 50%;
}

.fa-chevron-right {
    position: absolute;
    right: -26px;
    top: 50%;
}

#blurb1 {
    /* display: block;  */
    position: absolute;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s ease;
}

#blurb2 {
    /* display: none; */
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

#info {
    opacity: 0;
    display: flex;
    background: #1F486A;
    color: white;
    transition: opacity .6s ease;
}

#info-carousel {
    position: relative;
}

#info-carousel p {
    line-height: 1.85;
}

#info-container {
    padding: 40px 16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    min-height: 500px;
}

#info-img {
    width: 17em;
    height: 17em;
}

#inner-circle {
    background: #255884;
    width: 20.6em;
    height: 20.6em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-circle {
    background: #225078;
    width: 24em;
    height: 24em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ----------
    Footer
---------- */

footer {
    color: rgb(226, 225, 225)
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #3499cc;   
}

footer li {
    list-style: none;
    padding: 10px 0;
    font-weight: 400;
}

footer ul {
    font-weight: 700;
    padding-inline-start: 0;
}

#four-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

#legal {
    background: #2b2b2a;
}

#sitemap {
    background: rgb(71, 71, 71);
}

#social {
    font-size: 24px;
    padding: 5px;
    text-align: right;
}


@media only screen and (max-width: 1100px) {

    .tile-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #about-headline {
        text-align: left;
    }

    #floating-tile-area {
        display: block;
    }

    .floating-tile {
        margin-bottom: 30px;
        height: 100%;
    }

    .floating-tile-img {
        display: none;
    }
    .floating-tile-img-med {
        display: inline-block;
    }
    #hero {
        padding: 2% 6%;
    }

    #info-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 700px) {
    .tile-area {
        display: grid;
        grid-template-columns: 1fr;
    }

    .btn-blue {
        width: 100%;
        height: 28px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .floating-tile-img, .floating-tile-img-med {
        display: none;
    }

    .material-icons{
        display: none
    }


}