/* ----------
  This style sheet will be indexed by the vertical position of elements
  1. Whole page elements
  2. Navbar elements
  3. Hero elements
  4. About section elements
  5. Footer elements
---------- */



/* ----------
  Whole page
---------- */

body {
    background: white;
    /* font-family: 'Nunito'; */
    /* font-family: Arial; */
    /* font-family: 'Open Sans'; */
    font-family: 'Sarabun';
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 10px 0;
}

h3 {
    font-size: 20px;
    padding: 5px 0;
    font-weight: 300;
}


/* ----------
   Navbar
---------- */

nav {
    padding: 2% 13%;
}

.logo {
    height: 70px;
}

/* ----------
    Hero
---------- */

input {
    font-size: 18px;
}

.active {
    color: #666!important;
}

.btn-blue {
    background: #1f486a;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 150px;
    height: 200px;
    border-radius: 0;
}

.btn-next {
    cursor: unset;
    background: #666;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    position: relative;
    height: 26px;
    transition: background-color 0.6s ease;
}

.btn-next span {
    position: absolute;
}

.btn-reset {
    background: #c45f0d;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 150px;
    height: 200px;
    border-radius: 0;
}

.ctr {
    text-align: center;
    right: 0%;
    left: 0%;
}

.fa-circle {
    color: #d8d8d8;
    margin: 0 4px;
}

.heading-area {
    margin: 1% 0;
}

.icon-area {
    margin: 30px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    font-size: 18px;
    align-items: center;
}

.icons {
    text-align: center;
    transition: color 0.6s ease;
}

.rt-align {
    text-align: right;
    position: relative;
    right: 4px;
}

.selected {
    background: #3499cc;
}

.slide {
    min-width: 78vw;
    transition: transform 0.5s;
}

.tile {
    border: none;
    transition: all ease 250ms;
    padding: 22px 25px;
}

.tile:hover {
    background: #3499cc;
}

.tile:focus {
    background: #3499cc;
    border: none;
}

.tile-area {
    gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 20px;
}


#carousel {
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#empError, #zipError {
    margin-top: 0;
    padding: 0;
    display: none;
    font-style: italic;
    font-size: 14px;
    color: red;
}

#hero {
    min-height: 600px;
    background: rgb(196, 204, 204);
    background: url('background-design.jpg');
    padding: 2% 13%;
}

#hero a {
    text-decoration: none;
    cursor: pointer;
}

::placeholder { 
    font-style: italic;
}

/* ----------
    About
---------- */

#about {
    padding: 2% 13%;
    min-height: 300px;
}

/* ----------
    Footer
---------- */

footer {
    padding: 2% 13%;
    background: rgb(71, 71, 71);
    color: rgb(226, 225, 225)
}

footer a {
    text-decoration: none;
    color: inherit;
}