<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucker Comp by SARK</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../../public/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../public/favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../public/styles/common.css" rel="stylesheet">

    <!-- The two following lines allow the use of the AOS (Animation on Scroll) library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/793cc4a12c.js" crossorigin="anonymous"></script>
    <link href="../../../public/styles/users.css" rel="stylesheet">
</head>
<body>
    <!-- A navbar that is currently empty -->
    <nav class="indented">
        <a href="#" ><img src="../../public/images/logorecolored.png" class="logo"/><img src="../../public/images/sarkjusttitle.png" class="title"/></a>

        <!-- Nav elements can be added here -->
        <!-- <a href="main-form.html" class="btn-test">Skip to main form (for development)</a> -->
    </nav>

<!-- xxxxxxxxxx -->
    {{>errorMessage errors = errors}}

    {{{body}}}
<!-- xxxxxxxxxx -->




<!-- Basic footer -->
    <footer id="sitemap" class="indented">
        <div style="display: flex; justify-content: space-between;">
            <a href="#"><img src="../public/images/logorecolored.png" id="footer-logo"></a>
            <div id="social">        
                <a href="https://www.facebook.com/SARKInsurance"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/company/sark-insurance-services-inc"><i class="fa fa-linkedin-square"></i></a>
            </div>
        </div>
        <div id="four-col">
            <div><a href="about-us.html">About us</a></div>
            <div><a href="products.html">Products</a></div>
            <div><a href="contact.html">Contact</a></div>
            <div><a href="https://www.policymela.com/">PolicyMela by SARK</a></div>
            <!-- <ul><a href="">INSURANCE COVERAGE</a>
                <li><a href="">Workers’ Compensation</a></li>
                <li><a href="">Professional Liability (E&O)</a></li>
                <li><a href="">General Liability</a></li>
                <li><a href="">Property & Liability (BOP)</a></li>
                <li><a href="">Commercial Auto</a></li>
                <li><a href="">Umbrella</a></li>
            </ul>
            <ul><a href="">POLICYHOLDERS</a>
                <li><a href="">Get a Certificate</a></li>
                <li><a href="">Make a Claim</a></li>
                <li><a href="">Make a Payment</a></li>
                <li></li>
                <li><a href="">SMALL BUSINESS</a></li>
            </ul>
            <ul><a href="">ABOUT</a>
                <li><a href="">Careers</a></li>
                <li></li>
                <li><a href="">RESOURCES</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Balance Sheets</a></li>
                <li><a href="">Loss Control</a></li>
            </ul>
            <ul><a href="">CONTACT</a>
                <li><a href="">{phone number}</a></li>
                <li><a href="">Get a Quote</a></li>
                <li></li>
                <li><a href="">Reviews</a></li>
            </ul> -->
        </div>

        <hr/>

        <p>Most policies issued through TruckerComp.com will be underwritten by Wellfleet Insurance Company ("WIC"), Berkshire Hathaway Direct Insurance Company ("BHDIC"), National Liability and Fire Insurance Company ("NLF"), or Wellfleet New York Insurance Company ("WNYIC"), which are AM Best rated A++ insurers.</p>
        <div>&copy;2021 SARK Insurance Services, INC.</div>

    </footer>

    <!-- The following line initiates Animation on Scroll functionality -->
    <script>AOS.init();</script>
   
</body>
</html>