<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucker Comp by SARK</title>
    <link rel="icon" type="image/png" sizes="32x32" href="public/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/favicon_io/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="public/styles/common.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/793cc4a12c.js" crossorigin="anonymous"></script>
    

</head>
<body>

    {{>navbar}}
    
<!-- xxxxxxxxxx -->
    <div id="messageArea">
        {{>errorMessage errors = errors}}
        {{>errorMessage error = error_msg}}
        {{>errorMessage success = success_msg}}
    </div>

    {{{body}}}

<!-- xxxxxxxxxx -->

    {{>footer}}
