<link href="public/styles/about.css" rel="stylesheet">

<section id="main">
    <section class="wide-section dark">
        <div class="two-column-section">
            <div>
                <h2>At <span class="accent">SARK Insurance Services</span>, we fight for you.     </h2>
                <div class="white-card">
                    <p><b>For over 10 years, we have built our business with a single goal: getting quality insurance for our customers.</b></p>
                    <p>We provide the relevant tools to make sure that you never have to over- or underaccount your driver payroll. Using our tools can reduce your payroll and worker’s comp premiums by 20 – 30%.</p>
                    <p>In the unfortunate incident that you have a payroll audit, we will stand with you. We are well-reputed for educating and assisting our clients during a Worker’s Compensation Payroll audit.</p>
                    <p><b>We accept new, experienced, and multiple claim ventures.</b></p>
                </div>
            </div>
            <div>
                <img src="public/images/california-tools.png" alt="" style="height: 300px; text-align: center; margin: 30px 0;"/>
            </div>
        
        </div>
        <div id="inset" >
            <h2 class="m-0">Why do our clients trust SARK?</h2>
        </div>
    </section>
    <div >
        <div class="indented dark centered"><h2>An established reputation</h2></div>
        <div id="three-circles">
            <div class="circle lt-blue"><p><span style="font-size: 40px">15+</span> companies served</p></div>
            <div class="circle lt-green"><p><span style="font-size: 40px">$8+</span> million insured premium</p></div>
            <div class="circle yellow"><p><span style="font-size: 40px">450+</span> policies issued</p></div>
        </div>
    </div>
</section>