<link href="public/styles/about.css" rel="stylesheet">

<section id="main">
    <section class="wide-section dark">
        <div class="two-column-section">
            <div>
                <h1>At <span class="accent">SARK Insurance Services</span>, we fight for you. </h1>
                <div>
                    <p><b>For over 10 years, we have built our business with a single goal: getting quality insurance for our customers.</b></p>
                    <p>We provide the relevant tools to make sure that you never have to over- or underaccount your driver payroll. Using our tools can reduce your payroll and worker’s comp premiums by 20 – 30%.</p>
                    <p>In the unfortunate incident that you have a payroll audit, we will stand with you. We are well-reputed for educating and assisting our clients during a Worker’s Compensation Payroll audit.</p>
                    <p><b>We accept new, experienced, and multiple claim ventures.</b></p>
                </div>
            </div>
            <div id="about-image">
                <img src="public/images/california-tools.png" alt="" />
            </div>
        
        </div>


        <div id ="inset">
            <h2 class="m-0">Why do our clients trust SARK?</h2>
        </div>
    </section>
    <section id="lower-portion">        
        <!-- <div id="inset" > -->

        <div class="indented centered"><h2 class="m-0 p-1">An established reputation</h2></div>
        <div id="three-circles">
            <div class="circle"><p><span style="font-size: 40px">15+</span> companies served</p></div>
            <div class="circle "><p><span style="font-size: 40px">$8+</span> million insured premium</p></div>
            <div class="circle"><p><span style="font-size: 40px">450+</span> policies issued</p></div>
        </div>
    </section>

    <section id="bottom-portion">
        <div class="indented" >
            <p>If you manage an office or sale rep station, then you'll probably find your worker's comp policy wrapped up with your Business Owner's Insurance policy, and won't need to worry about it. <b>However, if you work in a high-risk business, SARK Insurance Services is the best company for your insurance policy.</b></p>
            <div id="icon-bullet-area">
                <div class="icon-bullet">
                    <p style="font-weight: 700;">$</p>
                </div>
                <div class="par">
                    <h6>We have over $8 million in premium from both small and large vendors. We specializing in trucking insurance, and can get a phone call back in as little as 5 minutes.</h6>
                </div>
                <div class="icon-bullet">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="par">
                    <h6>We have over 10+ years of experience in Worker's Compensation, and over 8+ years of experience in Trucking Worker's Comp.</h6>
                </div>
                <div class="icon-bullet">
                    <i class="far fa-handshake"></i>
                </div>
                <div class="par">
                    <h6>We work closely with 20+ companies to find you the highest quality deal in Worker's Compensation.</h6>
                </div>

            </div>
            <hr/>
        </div>
    </section>
    <section id="cta">
        <h1>Want quality insurance at a great price?</h1>
        <h1>Choose SARK today.</h1>
        <br>
        <br>
        <a href="/" id="quote-button">Get a Quote</a>
    </section>
</section>