
<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <section id="dashboard-header">
        <h1>Policy Overview</h1>

        <div id="progress-display">
            <h4>Progress: 50%</h4>
            <div id="progress-graphic"></div>
        </div>
    </section>
    <div id="application-nav">
        <a href="">Form Questions</a>
        <a href="">Prepare Documents</a>
        <a href="">Closing</a>
    </div>

    <hr/>

    <h3 id="application-progress-narrative" class="centered-header">You have completed your .... </h3>

    <div id="resume-progress">
        <div id="resume-progress-text">
            <h4 style="margin: 0">Pick up where you left off</h4>
            <p>It's easy to get back to where you were in your application.</p>
        </div>
        <button id="continue-button" onclick="">Continue Application</button>
    </div>

    <div id="questions" class="dashboard-link-button">
        <h3>Form Questions</h3>
        <div></div>
        
    </div>

    <div id="prepare-docs" class="dashboard-link-button">
        <h3>Prepare and Upload Docs</h3>
        <div></div>
    </div>


    <div id="closing" class="dashboard-link-button">
        <h3>Closing and Signature</h3>
        <div></div>
        
    </div>
</div>