<script 
    id="dbScript"
    data-email="<%= user.email %>" 
    defer src="../public/scripts/application.js">
</script>

<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <section id="dashboard-header">
        <h1>Policy Overview</h1>

        <div id="progress-display">
            <h4>Progress: <span id="progress-value">0%</span></h4>
            <div id="progress-graphic">
                <div id="progress-bar"></div>
            </div>
        </div>
    </section>
    <div id="application-nav">
        
        <li onclick="toggleSection('application-overview')">Overview</li>
        <li onclick="toggleSection('questions')">Form Questions</li>
        <li onclick="toggleSection('prepare-docs')">Prepare Documents</li>
        <li onclick="toggleSection('closing')">Closing</li>
    </div>

    <hr/>

    <div id="application-overview" class="application-section visible">
        <h3 id="application-progress-narrative" class="centered-header">You have completed your .... </h3>

        <div id="resume-progress">
            <div id="resume-progress-text">
                <h4 style="margin: 0">Pick up where you left off</h4>
                <p>It's easy to get back to where you were in your application.</p>
            </div>
            <button id="continue-button" onclick="">Continue Application</button>
        </div>

        <section id="your-business">
            <div class="section-heading">
                <h2>You and Your Business</h2>
            </div>
            <div class="section-body">
                <h3>Item 1</h3>
                <p>Information about the first item</p>
                <h3>Item 2</h3>
                <p>Information about the second item</p>
            </div>
        </section>


    </div>
    <section id="questions" class="application-section">
        <h3>Form Questions</h3>
        <div>
            <h4>Q1</h4>
            <h4>Q2</h4>
            <h4>Q3</h4>
        </div>
        
    </section>

    <section id="prepare-docs" class="application-section">
        <h3>Prepare and Upload Docs</h3>
        <div></div>
    </section>


    <section id="closing" class="application-section">
        <h3>Closing and Signature</h3>
        <div></div>
        
    </section>
</div>

<!-- localhost link -->
<!-- <script type='text/javascript'>(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = '//traffic7.helponclick.com/assist?c=d82475b7-9b5b-4995-b358-e136e258b595';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();</script> -->

<!-- heroku app link -->
<!-- <script type='text/javascript'>(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = '//traffic7.helponclick.com/assist?c=2f516762-1e9b-48ee-b219-7f4b878fb451';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();</script> -->
