
<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <section id="dashboard-header">
        <h1>Policy Overview</h1>

        <div id="progress-display">
            <h4>Progress: 50%</h4>
            <div id="progress-graphic">
                <div id="progress-bar"></div>
            </div>
        </div>
    </section>
    <div id="application-nav">
        <li href="">Form Questions</li>
        <li href="">Prepare Documents</li>
        <li href="">Closing</li>
    </div>

    <hr/>

    <h3 id="application-progress-narrative" class="centered-header">You have completed your .... </h3>

    <div id="resume-progress">
        <div id="resume-progress-text">
            <h4 style="margin: 0">Pick up where you left off</h4>
            <p>It's easy to get back to where you were in your application.</p>
        </div>
        <button id="continue-button" onclick="">Continue Application</button>
    </div>

    <section id="your-business">
        <div class="section-heading">
            <h2>You and Your Business</h2>
        </div>
        <div class="section-body">
            <h3>Item 1</h3>
            <p>Information about the first item</p>
            <h3>Item 2</h3>
            <p>Information about the second item</p>
        </div>
    </section>

    <section id="questions" class="application-section">
        <h3>Form Questions</h3>
        <div></div>
        
    </section>

    <section id="prepare-docs" class="application-section">
        <h3>Prepare and Upload Docs</h3>
        <div></div>
    </section>


    <section id="closing" class="application-section">
        <h3>Closing and Signature</h3>
        <div></div>
        
    </section>
</div>