<link href="public/styles/contact.css" rel="stylesheet">
<script src="public/scripts/contact.js"></script>

<section id="main" class="dark">
    <div class="two-column-section">
        <div class="left-side">
            <h2><b>Contact us</b></h2>
            <h4><b>Please provide your information and we'll get back to you ASAP.</b></h4>
            <p><b>Alternatively, you can send us an email or text to the following:</b></p>
            <p>wc@sarkinsurance.com</p>
            <p>(408) 262-9190</p>
        </div>
        <div class="light">
            <form>
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="text" id="email" name="email" placeholder="Email" required>
                <input type="text" id="phone" name="phone" placeholder="Phone" required>
                <input list="dropdown" id="type" type="text" placeholder="Type of insurance">
                <datalist name="type" id="dropdown">
                    <!-- <option value="" selected disabled></option> -->
                    <option value="Worker’s Compensation"></option>
                    <option value="Homeowner's Insurance"></option>
                    <option value="Commercial Auto"></option>
                    <option value="Business Insurance"></option>
                </datalist>
                <textarea id="comment" rows="5" placeholder="Please provide more information"></textarea>
                <button id="submit-button" onclick="sendContact(event)">Submit</button>
            </form>
        </div>
    </div>

    <!-- <iframe id="chat-window" src="https://tawk.to/chat/60d3ac8e65b7290ac6379384/1f8tdk3qq" frameborder="0"></iframe> -->

</section>