
<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <section id="dashboard-header">
        <h1>Policy Overview</h1>

        <div id="progress-display">
            <h4>Progress: 50%</h4>
            <div id="progress-graphic"></div>
        </div>
    </section>

    <div>
        Paragraph concerning Policy Information
    </div>

    <section id="dashboard-links">
        <a href="previous-policies" class="dashboard-link-button">
            <h3>Previous Policies</h3>
            <div></div>
        </a>
        <a href="documents" class="dashboard-link-button">
            <h3>Documents</h3>
            <div></div>
        </a>
        <a href="application" class="dashboard-link-button">
            <h3>Application</h3>
            <div></div>
        </a>
        <a href="new-policy" class="dashboard-link-button">
            <h3>Open New Policy</h3>
            <div></div>
        </a>


            <!-- <nav id="dashboard-nav">
                <a href="overview">Overview</a>

            </nav> -->


    </section>


</div>