<script 
    id="dbScript"
    data-email="<%= user.email %>" 
    defer src="../public/scripts/documents.js">
</script>

<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <h2 class="heading">View Your Documents</h2>

    <h3>Submitted Documents</h3>
    <div class="expandable">
        <div class="dashboard-link-button">
            <h5>Document 1</h5>
        </div>
        <div class="dashboard-link-button">
            <h5>Document 2</h5>
        </div>

    </div>

    <h3>Documents to be Submitted</h3>
    <div class="expandable">
        <div class="dashboard-link-button">
            <h5>Document 3</h5>
        </div>

    </div>
</div>