
    <link href="public/styles/auth.css" rel="stylesheet">


        <section class="login-card">
            <h3 class="card-heading">Under Construction</h3>
            <div class="card-body">
                <p>TruckerComp Dashboard is coming!</p>
                <p>Check in with us in the future for a visual representation of your policy in action!</p>
            </div>
        </section>
