{{!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> --}}
    <link href="public/styles/index.css" rel="stylesheet">
    
    <script defer src="../public/scripts/hero-section.js"></script>
    <script defer src="../public/scripts/info-tabs.js"></script>
    <section id="hero">
        {{>heroslide}}


          <section class="form-section">
              {{>dotslide}}
            <div class="slide" id="slide4">
                <div class="slide-nav">
                    <div class="back-icon" onclick="changeSlide(-1)">
                        <img src="../public/images/darkarrow.svg">
                    </div>

                    <div class="icon-area">
                        <div class="icons">
                            <img src="../public/images/darkfullcircle.svg">
                            <img src="../public/images/darkfullcircle.svg">
                            <img src="../public/images/darkfullcircle.svg">
                            <img src="../public/images/darkemptycircle.svg">
                            <img src="../public/images/lightemptycircle.svg">
                        </div>
                    </div>

                    <div class="btn btn-reset" onclick="initializeForm()">Reset</div>
                </div>

                <form class="hero-form">
                    <h2>Please confirm your payroll</h2>
                    <div id="employeeInfoTable">
                        <div id="employeeInfoTableHeadings">
                            <p>Type</p>
                            <p>#</p>  
                            <p>Salary</p>
                            <p>|</p>
                            <p>Total</p>
                        </div>
                            {{!-- This is the dropdown menu for employee type --}}
                            {{!-- If it is changed, the function addRow() will also need to be updated --}}
                        <p class="formline">
                            <select class="empType" id="empType0">
                                <option value="" disabled >Employee Type</option>
                                <option value="Driver" selected>Driver</option>
                                <option value="Maintenance">Maintenance</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Custodial">Custodial</option>
                                <option value="Clerical">Clerical</option>
                                <option value="Other">Other</option>
                            </select>
                            <input class="empNumber" name="empNumber0" type="number" min="1" id="empNumber0">
                            <input class="empPayroll" name="empPayroll0" type="number" min="1" id="empPayroll0" value=50000>

                            {{!-- <select class="empPayroll" id="empPayroll0" name="empPayroll0">
                                <option value="" disabled selected>Please select</option>
                                <option value="4.5">Less than $45,000</option>
                                <option value="5.0">$45,001 ~ $55,000</option>
                                <option value="6.0">$55,001 ~ $65,000</option>
                                <option value="7.0">$65,001 ~ $75,000</option>
                                <option value="8.0">$75,001 ~ $85,000</option>
                                <option value="10">$85,001 ~ $100,000</option>
                                <option value="12">More than $100,000</option>
                            </select> --}}
                            <span>|</span>
                            <input class="empTotal" name="empTotal0" type="number" min="1" id="empTotal0" value=50000>
                        </p>
                    </div>
                    <button id="newRow" class="btn" onclick="addRow(event)">Add row <i class="fas fa-plus" ></i></button>

                    {{!-- <div id="next4" class="btn-next" onclick="changeSlide(1)">Next slide</div> --}}
                </form>
                <div style="display: grid; grid-template-columns: 3fr 2fr 3fr">
                    <div></div>
                    <div>
                        <p>Total payroll</p>
                        <p id="totalPayroll"></p>
                    </div>
                    <div class="btn-save" id="btn-saveEmployeeData" onclick="saveEmployeeData()">Continue ></div>
                </div>
            </div>
            <div class="slide" id="slide5">
                <div id="slide5Left">
                    <div class="slide-nav">
                        <div class="back-icon" onclick="changeSlide(-1)">
                            <img src="../public/images/darkarrow.svg">
                        </div>

                        <div class="icon-area">
                            <div class="icons">
                                <img src="../public/images/darkfullcircle.svg">
                                <img src="../public/images/darkfullcircle.svg">
                                <img src="../public/images/darkfullcircle.svg">
                                <img src="../public/images/darkfullcircle.svg">
                                <img src="../public/images/darkemptycircle.svg">
                            </div>
                        </div>
                        {{!-- <div class="next-icon" id="next5">
                            <i class="fas fa-arrow-right "></i>
                        </div> --}}
                    <div class="btn btn-reset" onclick="initializeForm()">Reset</div>
                    </div>
                    <div style="background: white; padding: 1vw">
                        <h4 id="slide5Name"></h4>

                        <div id="confirmation">

                            <p class="accentText">DOT</p>
                            <p id="q0"></p>
                            <p class="accentText">Business Type</p>
                            <p id="q1"></p>
                            <p class="accentText">Mileage</p>
                            <p id="q2"></p>
                            <p class="accentText">Zip Code</p>
                            <p id="q3"></p>
                            <p class="accentText">Total Payroll</p>
                            <p id="q4"></p>
                        </div>
                    </div>
                </div>
                <div id="slide5Right">
                    <div class="quote-header">
                        <h5>Based on the information you gave us</h5>
                    </div>
                    <div class="quote-body">
                        <div id="quote-result">
                            <h5>we estimate a monthly worker's comp premium of</h5>
                            <h5>$<span id="low-end"></span> &mdash; $<span id="high-end"></span>/month</h5>
                        </div>

                    </div>

                    <h4>Enter your email address to purchase your policy!  <input type="slide5Email" name="slide5Email" id="slide5Email"></h4>
                    <p id='emailError' class="error">Please enter a valid email address</p>

                    <div class="btn-submit" id="submit" >Purchase policy</div>
                </div>
            </div>
        </section>

    </section>

            <section id="three-tab-section">
            <div id="three-tabs">
                <div id="leftTab" class="info-tab" onclick="changeTab('leftTab')">COVERAGE</div>
                <div id="centerTab" class="info-tab" onclick="changeTab('centerTab')">COST</div>
                <div id="rightTab" class="info-tab" onclick="changeTab('rightTab')">FAQ</div>
            </div>
            <div class="info-blurb">
                <h2 class="info-heading">Left Tab Heading</h2>
                <p>It’s your job to keep employees safe at work. However, accidents happen. Sometimes employees get injured or become ill on the job, and that’s why we have Workers Compensation Insurance.
                <p>This insurance covers medical costs and lost wages, as well as things like rehabilitation or physical therapy. It’s mandatory in many states, and highly recommended for all employers.</p>
                <p>Read on to find out more about this type of coverage and what your business should look for in a policy.</p> 
            </div>
        </section>


        <!-- This section will contain further information about SARK -->
        <section id="about">
            <div id="about-headline">
                <h2>Our Approach</h2>
                {{!-- <h2>What's worker's compensation insurance?</h2>
                <p>An insurance policy that protects your employees in case they ever get sick or injured because of work. The policy pays out to cover your employee’s medical expenses and lost wages—and it might even cover ongoing financial and medical support if the injury is serious.</p> --}}
            </div>
            <div id="about-container">

                <div class="about-box" >
                    <div>
                        <svg height="90" width="90" viewBox="0 0 32 32">
                            <path d="M23.706 6.55c0-0.819-0.659-1.477-1.477-1.477h-18.403c-0.819 0-1.477 0.659-1.477 1.477v11.034c0 0.819 0.659 1.477 1.477 1.477h1.264v4.182c0 0.231 0.142 0.445 0.356 0.534s0.463 0.036 0.641-0.125l4.592-4.592h0.943c0.32 0 0.587-0.267 0.587-0.587s-0.267-0.587-0.587-0.587c-0.338 0-1.192 0-1.228 0-0.142 0.018-0.267 0.071-0.374 0.16l-3.773 3.773v-0.16c0-1.103 0-3.204 0-3.257-0.018-0.303-0.267-0.534-0.57-0.534h-1.851c-0.178 0-0.32-0.142-0.32-0.32v-11.034c0-0.178 0.142-0.32 0.32-0.32h18.403c0.178 0 0.32 0.142 0.32 0.32v4.236c0 0.32 0.267 0.587 0.587 0.587s0.587-0.267 0.587-0.587v-4.2zM13.811 21.998c0 0.819 0.659 1.477 1.477 1.477h8.098l3.293 3.293c0.16 0.16 0.409 0.214 0.641 0.125 0.214-0.089 0.356-0.303 0.356-0.534v-2.883h0.516c0.819 0 1.477-0.659 1.477-1.477v-7.528c0-0.819-0.659-1.477-1.477-1.477h-12.903c-0.819 0-1.477 0.659-1.477 1.477v7.528zM14.968 14.469c0-0.178 0.142-0.32 0.32-0.32h12.885c0.178 0 0.32 0.142 0.32 0.32v7.528c0 0.178-0.142 0.32-0.32 0.32h-1.086c-0.303 0-0.552 0.231-0.57 0.534 0 0.036 0 1.281 0 1.94v0.16l-2.492-2.474c-0.018-0.018-0.018-0.018-0.036-0.036-0.107-0.089-0.249-0.142-0.392-0.142h-8.311c-0.178 0-0.32-0.142-0.32-0.32v-7.511zM22.318 18.225c0 0.324-0.263 0.587-0.587 0.587s-0.587-0.263-0.587-0.587c0-0.324 0.263-0.587 0.587-0.587s0.587 0.263 0.587 0.587zM18.919 9.361h-11.782c-0.32 0-0.587 0.267-0.587 0.587s0.267 0.587 0.587 0.587h11.782c0.32 0 0.587-0.267 0.587-0.587s-0.267-0.587-0.587-0.587zM11.622 13.633h-4.485c-0.32 0-0.587 0.267-0.587 0.587s0.267 0.587 0.587 0.587h4.467c0.32 0 0.587-0.267 0.587-0.587s-0.249-0.587-0.57-0.587zM19.31 18.225c0 0.324-0.263 0.587-0.587 0.587s-0.587-0.263-0.587-0.587c0-0.324 0.263-0.587 0.587-0.587s0.587 0.263 0.587 0.587zM25.326 18.225c0 0.324-0.263 0.587-0.587 0.587s-0.587-0.263-0.587-0.587c0-0.324 0.263-0.587 0.587-0.587s0.587 0.263 0.587 0.587z"></path>
                        </svg>
                    </div>
                    <h3>Get advice</h3>
                    <div class="about-text">
                        <div>
                            <p>Need free help? Understand in 10 seconds what type of insurance your industry needs, and why.</p>
                        </div>
                        <a class="about-button">Insurance assessment »</a>
                    </div>
                </div>

                <div class="about-box" >
                    <div>
                        <svg height="90" width="90" viewBox="0 0 34 35" >
                            <path d="m11.543111 10.0790539c0 .5132128-.1979538.9371713-.5927172 1.2718753-.3947635.334704-.8581814.5477989-1.56761127.634822v1.2752223c0 .2811514-.15218416.4217271-.45769671.4217271s-.45769671-.1405757-.45769671-.4217271v-1.2116286c-.43366763 0-.77694016-.0479742-1.18429023-.114915s-.97603824-.2778044-1.23578112-.3949508c-.26203136-.1271875-.34899374-.2978865-.26203136-.5098658.08696237-.2119792.25287743-.2967709.49774517-.2532593.32153194.13946.69226627.254375 1.112203.3425137.41993673.0881388.72544928.132766 1.0710103.132766v-2.51808998c-.79410379-.24544962-1.27354109-.50540308-1.59392879-.83006599-.3203877-.3246629-.4794373-.74415861-.4794373-1.25737145 0-.49536196.19680958-.90035383.58928451-1.21832266.39247493-.31796882.83644074-.5210226 1.48293734-.58907908v-1.0197316c0-.25102802.15218415-.37598419.4576967-.37598419.30551256 0 .47142761.12495617.50003366.37598419v1.0197316c.71286261.01896656 1.27010841.15842657 1.93148011.41949571.2528774.14950113.3364071.33135698.2494447.5433362s-.2711853.27892002-.5515245.19859106c-.5766979-.22313602-1.07558729-.34809219-1.67173726-.38937235l.04233695 2.42214146c.60759241.18854994.93255701.40276052 1.23463691.58126933.3020798.17850881.5252069.38490963.6682372.61697109.1430302.23206146.2151174.51432852.2151174.84680116zm-.9886249.0736349c.0107126-.2454817-.0828358-.48441226-.2585986-.66048262-.1727805-.1684677-.41764829-.33805107-.91310497-.50317172v2.16776644c.84101767-.1137994 1.17170357-.4217271 1.17170357-1.0041121zm-3.1775594-3.518855c0 .28672978.08696238.51767556.26203137.69172165s.39934038.2967709.82957528.45185043v-2.1677664c-.29872114.03680902-.57725345.16672904-.79410379.37040578-.19243692.16541149-.30076852.40480666-.29635862.65490422zm18.4680622 18.9386695c0 .6225495-.2391465 1.1357623-.7185838 1.5407542-.4794373.4049918-1.0401158.6638296-1.8994414.7687035v1.545217c0 .3413981-.1853671.5109814-.5549572.5109814s-.5549573-.170699-.5549573-.5109814v-1.468235c-.525207 0-.941711-.0591311-1.4348792-.1383444-.4931682-.0792132-1.1820017-.3369353-1.4966682-.4786267-.316955-.1539639-.4222252-.3603647-.316955-.6180868.1052703-.2577221.3066568-.359249.6030154-.306812.3890422.1695834.8387292.3079277 1.3479168.415033s.8787777.1617736 1.2975702.1617736v-3.051385c-.9623073-.2978866-1.5435821-.6125084-1.9303359-1.0063435-.3867537-.393835-.5812748-.9014695-.5812748-1.524019 0-.5991202.2380023-1.0911351.7151511-1.4760447.4771488-.3849097 1.012654-.631475 1.7964596-.7140353v-1.2361735c0-.303465.1853672-.4563132.5549573-.4563132s.5721208.1517325.6053039.4563132v1.2361735c.8639025.0223136 1.5378609.191897 2.3411186.5076345.3066568.1818558.4073501.4016448.3020799.6582512-.1052703.2566064-.3283974.3380511-.6682372.2409869-.6991318-.2699946-1.3032914-.4217271-2.025308-.4719327l.0514909 2.9353543c.7368917.2287145 1.1305109.4875522 1.4966682.7051098.3661574.2175577.6361985.4663543.8101232.7486214.1739248.2811514.2608871.6236652.2608871 1.0264257zm-1.1968769.0892544c0-.3291257-.104126-.5957732-.3135222-.7999426-.2093963-.2041695-.5057549-.4094546-1.1064818-.6102771v2.626311c1.0183751-.1372287 1.420004-.5120972 1.420004-1.2160913zm-3.8515178-4.2630136c0 .3480922.1052702.6270122.316955.8378757.2116847.2108635.4840142.3603647 1.0046442.5477989v-2.6263109c-.3617552.0451512-.6990817.2023693-.9623073.4485034-.2334156.2001471-.3648.490219-.3592919.7932485zm-12.03513496-4.3132193c-4.83882032 0-8.76145924-3.824725-8.76145924-8.54276238 0-4.7180374 3.92263892-8.54276242 8.76145924-8.54276242 4.83882026.00000007 8.76145916 3.82472507 8.76145916 8.54276242 0 4.71803738-3.9226389 8.54276238-8.76145916 8.54276238zm0-1.2752223c4.11650456 0 7.45359086-3.2537885 7.45359086-7.26754008 0-4.01375155-3.3370863-7.26754008-7.45359086-7.26754008-4.11650458 0-7.4535909 3.25378853-7.4535909 7.26754008 0 4.01375158 3.33708632 7.26754008 7.4535909 7.26754008zm13.66567946 19.1896975c-6.3917345 0-11.5728613-5.0517994-11.5728613-11.2839884s5.1811268-11.2839884 11.5728613-11.2839884c6.3917346 0 11.5728613 5.0517994 11.5728613 11.2839884s-5.1811267 11.2839884-11.5728613 11.2839884zm0-1.2752223c3.6673288 0 7.0560804-1.90766 8.8897449-5.004383 1.8336644-3.096723 1.8336644-6.9120432 0-10.0087662-1.8336645-3.096723-5.2224161-5.004383-8.8897449-5.004383-5.669199 0-10.2649929 4.4810772-10.2649929 10.0087661s4.5957939 10.0087661 10.2649929 10.0087661z" fill-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h3>Get quotes</h3>
                    <div class="about-text">
                        <div>
                            <p>Get free quotes for General Liability, Property, E&O, Workers' Comp and more. No commitment to buy.</p>
                        </div>
                        <a class="about-button">Get free quotes »</a>
                    </div>
                </div>

                <div class="about-box" >
                    <div>
                        <svg height="90" width="90" viewBox="0 0 35 32">
                            <path d="M31.003 2.061h-26.963c-0.496 0-0.899 0.398-0.899 0.888v21.314c0 0.49 0.403 0.888 0.899 0.888h8.988v4.398h-2.696v1.273h14.38v-1.273h-2.696v-4.398h8.988c0.496 0 0.899-0.398 0.899-0.888v-21.314c0-0.49-0.403-0.888-0.899-0.888zM20.815 29.545h-6.524v-4.374h6.524v4.374zM30.808 23.85h-26.428v-4.457h26.428v4.457zM20.834 12.52h4.954v5.635h-16.288v-11.967h10.276v5.167c0 0.506 0.527 1.165 1.058 1.165zM20.898 11.319v-4.102l4.274 4.102h-4.274zM30.808 18.155h-3.775v-6.5c0-0.246-0.099-0.483-0.277-0.656l-5.663-5.571c-0.177-0.175-0.417-0.272-0.667-0.272h-11.326c-0.521 0-0.944 0.416-0.944 0.928v12.071h-3.775v-14.856h26.428v14.856zM11.463 7.936h6.242v1.101h-6.242v-1.101z"></path>
                        </svg>
                    </div>
                    <h3>Manage your policies</h3>
                    <div class="about-text">
                        <div>
                            <p>A smart digital wallet of all your policies & rates, with peer comparison, certificates, claims, payments, and more.</p>
                        </div>
                        <a class="about-button">Learn more »</a>
                    </div>
                </div>

            </div>
            <p style="text-align: center;">Prefer to speak with a SARK consultant to discuss options? Call (408) 262-9190 anytime</p>
        </section>

        <section id="partners-section">
            <p>Best in class insurance partners</p>
            <div id="partners">
                <img src='../public/images/partners/aig.png'/>
                <img src='../public/images/partners/statefund.jpg'/>
                <img src='../public/images/partners/clear-spring.png'/>
                <img src='../public/images/partners/markel.png'/>
                <img src='../public/images/partners/pie.png'/>
                <img src='../public/images/partners/zurich.png'/>
                <img src='../public/images/partners/employers.png'/>
                <img src='../public/images/partners/greatamerican.png'/>
            </div>
        </section>
