<script 
    id="dbScript"
    data-email="<%= user.email %>" 
    defer src="../public/scripts/new-policy.js">
</script>

<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <h1>Initiate New Policy</h1>





    <hr>
    <hr>
    <hr>
</div>