<script 
    id="dbScript"
    data-email="<%= user.email %>" 
    defer src="../public/scripts/previous-policies.js">
</script>

<div id="dashboard">
    <%- include ('./partials/dashboard-nav') %>
    <h2 class="heading">Previous Policies</h2>

    <h3>Current Policies</h3>
    <div class="expandable" id="current-policies">

    </div>
    <div id="expired-policies-section">
        <h3>Expired Policies</h3>
        <div class="expandable" id="expired-policies">

        </div>
    </div>
</div>