
    <script defer src="../../../public/scripts/register.js"></script>
    <link href="../../../public/styles/users.css" rel="stylesheet">


   <main class="dark" style="padding-top: 6vw;">
        <section class="login-card">
            <div class="card-heading">Create your account today!</div>
            <form action="/register" method="POST">
                <div class="card-body">
                    <input
                        type="hidden"
                        id="employees"
                        name="employees"
                    >
                    <input
                        type="hidden"
                        id="businessType"
                        name="businessType"
                    >
                    <input
                        type="hidden"
                        id="totalPayroll"
                        name="totalPayroll"
                    >
                    <input
                        type="hidden"
                        id="mileage"
                        name="mileage"
                    >
                    <input
                        type="hidden"
                        id="zipCode"
                        name="zipCode"
                    >
                    <label for="name">Name</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        placeholder="Enter Name"
                    >
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter Email"
                    >
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Create Password"
                    >
                    <label for="password2">Confirm Password</label>
                    <input
                        type="password"
                        id="password2"
                        name="password2"
                        placeholder="Confirm Password"
                    >
                    <button id="btn-submit" type="submit">Create</button>
                </div>
            </form>     
        </section>
        <p id="bottom-line">Already registered? <a href="login">Click here to log in.</a></p>

    </main>
