
        <script defer src="../public/scripts/register.js"></script>

        <section class="login-card">
            <h3 class="card-heading">Create an account with us</h3>
            <form action="register" method="POST">
                <div class="card-body">
                    {{!-- <input
                        type="hidden"
                        id="employees"
                        name="employees"
                    > --}}
                    <input
                        type="hidden"
                        id="businessType"
                        name="businessType"
                    >
                    <input
                        type="hidden"
                        id="carrierOperation"
                        name="carrierOperation"
                    >
                    <input
                        type="hidden"
                        id="totalPayroll"
                        name="totalPayroll"
                    >
                    <input
                        type="hidden"
                        id="mileage"
                        name="mileage"
                    >
                    <input
                        type="hidden"
                        id="zipCode"
                        name="zipCode"
                    >
                    <input
                        type="hidden"
                        id="DOT"
                        name="DOT"
                    >
                    <input
                        type="hidden"
                        id="companyName"
                        name="companyName"
                    >
                    <input
                        type="hidden"
                        id="DBA"
                        name="DBA"
                    >
                    <input
                        type="hidden"
                        id="address"
                        name="address"
                    >
                    <input
                        type="hidden"
                        id="mailingAddress"
                        name="mailingAddress"
                    >
                    <input
                        type="hidden"
                        id="phone"
                        name="phone"
                    >
                    <input
                        type="hidden"
                        id="powerUnits"
                        name="powerUnits"
                    >
                    <input
                        type="hidden"
                        id="drivers"
                        name="drivers"
                    >
                    <input
                        type="hidden"
                        id="operationType"
                        name="operationType"
                    >
                    <input
                        type="hidden"
                        id="cargoCarried"
                        name="cargoCarried"
                    >
                    <label for="name">Name</label>
                    <input
                        type="name"
                        id="name"
                        name="name"
                        placeholder="Enter Name"
                    >
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter Email"
                    >
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Create Password"
                    >
                    <label for="password2">Confirm Password</label>
                    <input
                        type="password"
                        id="password2"
                        name="password2"
                        placeholder="Confirm Password"
                    >
                    <button id="btn-submit" type="submit">Create</button>
                </div>
            </form>     
        </section>
        <p id="bottom-line">Already registered? <a href="login">Click here to log in.</a></p>
        <div style="text-align: center">
            <a href="dashboard" >Skip to dashboard (for development)</a>
        </div>
