<link href="public/styles/about.css" rel="stylesheet">


<section id="main" class="wide-section">

    <h1>Terms of Use</h1>


    <h4>PLEASE CAREFULLY REVIEW THESE TERMS AND CONDITIONS OF USE BEFORE USING THIS WEBSITE. BY ACCESSING THIS WEBSITE YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS THIS WEBSITE.</h3>

    <h5>User Agreeement</h5>
    <p>The following are terms of a legal agreement (the “Agreement”) between you and SARK Insurance Services, INC. (“SARK”, “we”, “us”, “our”, or the “SARK Team”) that sets forth the terms and conditions for your use of this web site and our hosted web-based applications (the “Site”). This Site and the services its offers are being provided to you expressly subject to this Agreement. By accessing, browsing and/or using this Site, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement and to comply with all applicable laws and regulations. The terms and conditions of this Agreement form an essential basis of our bargain.</p>

    <br/>
</section>