<link href="public/styles/legal.css" rel="stylesheet">


<section id="main" class="wide-section">

    <div >
        <h1 class="accented">Terms of Use</h1>


        <h4 class="centered mv-3">PLEASE CAREFULLY REVIEW THESE TERMS AND CONDITIONS OF USE BEFORE USING THIS WEBSITE. BY ACCESSING THIS WEBSITE YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS THIS WEBSITE.</h4>
    </div>
    <h3 class="accented">User Agreement</h3>
    <p>The following are terms of a legal agreement (the “Agreement”) between you and SARK Insurance Services, INC. (“SARK”, “we”, “us”, “our”, or the “SARK Team”) that sets forth the terms and conditions for your use of this web site and our hosted web-based applications (the “Site”). This Site and the services its offers are being provided to you expressly subject to this Agreement. By accessing, browsing and/or using this Site, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement and to comply with all applicable laws and regulations. The terms and conditions of this Agreement form an essential basis of our bargain.</p>
    <p>We reserve the right to amend this Agreement at any time and will notify you of any such changes by posting the revised Agreement on the Site. You should check this Agreement periodically for changes. All changes shall be effective upon posting. Your continued use of the Site after any change to this Agreement constitutes your agreement to be bound by any such changes. We may terminate, suspend, change, or restrict access to all or any part of this Site without notice or liability.</p>

    <h3 class="accented">Registration Information and the Need for Accuracy</h3>

    <p>You are invited to register at the Site to help us tailor our services for your business financial needs and to alert you to other products and services for your business. In registering to use the Site, you agree to provide accurate, true, current, and complete information about your business as requested by the registration screens, including information about principal shareholders, officers, and directors of the business. As a convenience to you, the Site will create a profile for your business based on the registration information that you provide (a “SARK Account”). This profile and any registration information you provide will be handled as described in our Privacy Policy.</p>

    <p>IT IS YOUR RESPONSIBILITY TO ENSURE THAT ANY INFORMATION YOU PROVIDE TO US ABOUT YOUR BUSINESS IS ACCURATE AND IS NOT CONTRADICTED BY YOUR BUSINESS RECORDS AND PUBLIC FILINGS, SUCH AS, BUT NOT LIMITED TO, YOUR TAX RETURNS AND CORPORATE FILINGS</p>
    
    <h3 class="accented">Privacy and Your Information</h3>

    <p>The SARK <a href="privacy.ejs">Privacy Policy</a> is incorporated into this Agreement. This policy explains how SARK protects the privacy of nonpublic business and personal information you share with us and how we use it. The policy may change from time to time at our discretion. Changes will be effective upon posting to the Site.</p>

    <p>You acknowledge that we may disclose and transfer any information that you provide through this Site to (i) SARK’s affiliates, lenders, agents or information providers; (ii) to providers of small business credit and services that may be appropriate for your company; (iii) to any other person or entity with your consent; or (iv) if we have a right or duty to disclose or are permitted or compelled to so disclose such information by law. You consent to the transmission, transfer or processing of such information to, or through, any country in the world, as we deem necessary or appropriate, and by using and providing information through this Site you agree to such transfers.</p>
    <p>Use of this Site may be monitored, tracked, and recorded. Anyone using this Site expressly consents to such monitoring, tracking, and recording. You are responsible for being familiar with the current version of these Terms and Conditions posted on the Site during each session.</p>

    <h3 class="accented">Use of Cookies</h3>

    <p>We use temporary cookies for login session management. If you disable cookies, you cannot access the Site.</p>

    <h3 class="accented">Disclaimer of Warranties</h3>
    <p>THE INFORMATION AND MATERIALS CONTAINED IN THIS SITE, INCLUDING TEXT, GRAPHICS, LINKS OR OTHER ITEMS AND CONTENT ARE PROVIDED “AS IS”, “AS AVAILABLE,” WITHOUT ANY WARRANTY, EITHER EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NONINFRINGEMENT OR TITLE. ADDITIONALLY, THERE ARE NO WARRANTIES AS TO THE RESULTS OF YOUR USE OF THE CONTENT. SARK DOES NOT WARRANT THAT THE SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THIS DISCLAIMER DOES NOT AFFECT THOSE WARRANTIES WHICH ARE INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.</p>

    <p>SARK MAY DISCONTINUE OR MAKE CHANGES TO THE CONTENT AND SITE AT ANY TIME WITHOUT PRIOR NOTICE TO YOU AND WITHOUT ANY LIABILITY TO YOU. ANY DATED INFORMATION IS PUBLISHED AS OF ITS DATE ONLY, AND SARK DOES NOT UNDERTAKE ANY OBLIGATION OR RESPONSIBILITY TO UPDATE OR AMEND ANY SUCH INFORMATION. SARK RESERVES THE RIGHT TO TERMINATE ANY OR ALL SITE OFFERINGS OR TRANSMISSIONS WITHOUT PRIOR NOTICE TO YOU. THIS SITE COULD CONTAIN TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. USE OF THIS SITE IS AT YOUR OWN RISK.</p>

    <h3 class="accented">Limitation of Liability</h3>
    <p>IN NO EVENT WILL SARK BE LIABLE FOR ANY DAMAGES INCLUDING GENERAL, SPECIAL, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY, OR ANY OTHER DAMAGES, LOSSES OR EXPENSES (INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR BUSINESS INTERRUPTION) OF ANY KIND WHETHER IN AN ACTION IN CONTRACT OR NEGLIGENCE ARISING OR RELATING IN ANY WAY TO THE USE OR INABILITY TO USE BY ANY PARTY OF THE CONTENT, THE SITE OR ANY THIRD-PARTY SITE TO WHICH THIS SITE IS LINKED, OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS OR LINE OR SYSTEM FAILURE, EVEN IF SARK, OUR REPRESENTATIVES THEREOF, ARE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, LOSSES, OR EXPENSES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THIS SITE IS TO STOP USING THE SITE. IF YOUR USE OF MATERIALS FROM THIS SITE RESULTS IN THE NEED FOR SERVICING, REPAIR OR CORRECTION OF EQUIPMENT OR DATA, YOU ASSUME ANY COSTS THEREOF. IF THE FOREGOING LIMITATION IS FOUND TO BE INVALID, YOU AGREE THAT SARK’S TOTAL LIABILITY FOR ALL DAMAGES, LOSSES, OR CAUSES OF ACTION OF ANY KIND OR NATURE SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY APPLICABLE LAW.</p>

    <h3 class="accented">Security of Data Transmissions and Storage</h3>
    <p>Electronic (including wired and wireless) communications through the Site may not be encrypted. You acknowledge that there is a risk that data, including e-mail, electronic and wireless communications and personal data, may be accessed by unauthorized third parties when communicated between you and SARK or between you and other parties.</p>

    <h3 class="accented">Indemnification</h3>
    <p>You agree to indemnify and hold harmless SARK from and against any and all claims, losses, expenses, demands or liabilities, including attorneys’ fees and costs, incurred by SARK in connection with any claim by a third party (including any intellectual property claim) arising out of (i) materials and content you submit to, post to, or transmit through the Site, or (ii) your use of the Site in violation of this Agreement or in violation of any applicable law. You further agree that you will cooperate fully in the defense of any such claims. SARK reserves the right, at their own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any such claim or matter without the written consent of SARK.</p>

    <h3 class="accented">Monitoring of the Site</h3>
    <p>SARK has no obligation to monitor the Site; however, you acknowledge and agree that SARK has the right to monitor the Site electronically from time to time and to disclose any information as necessary or appropriate to satisfy any law, regulation or other governmental request, to operate the Site, or to protect itself or other users of the Site.</p>



    <h3 class="accented">Waiver</h3>
    <p>Failure by SARK to enforce any of its rights under this Agreement shall not be construed as a waiver of those rights or any other rights in any way whatsoever.</p>

    <h3 class="accented">Applicable Law</h3>
    <p>This Agreement and all other aspects of your use of the Site shall be governed by and construed in accordance with the laws of the United States and, to the extent applicable, the laws of the State of California, without regard to its conflict of laws rules.</p>

</section>