<link href="public/styles/legal.css" rel="stylesheet">


<section id="main" class="wide-section">

    <h1 class="accented">Terms of Use</h1>


    <h4 class="centered mv-3">PLEASE CAREFULLY REVIEW THESE TERMS AND CONDITIONS OF USE BEFORE USING THIS WEBSITE. BY ACCESSING THIS WEBSITE YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS BELOW. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, PLEASE DO NOT ACCESS THIS WEBSITE.</h4>

    <h3 class="accented">User Agreement</h3>
    <p>The following are terms of a legal agreement (the “Agreement”) between you and SARK Insurance Services, INC. (“SARK”, “we”, “us”, “our”, or the “SARK Team”) that sets forth the terms and conditions for your use of this web site and our hosted web-based applications (the “Site”). This Site and the services its offers are being provided to you expressly subject to this Agreement. By accessing, browsing and/or using this Site, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement and to comply with all applicable laws and regulations. The terms and conditions of this Agreement form an essential basis of our bargain.</p>

    <p>We reserve the right to amend this Agreement at any time and will notify you of any such changes by posting the revised Agreement on the Site. You should check this Agreement periodically for changes. All changes shall be effective upon posting. Your continued use of the Site after any change to this Agreement constitutes your agreement to be bound by any such changes. We may terminate, suspend, change, or restrict access to all or any part of this Site without notice or liability.</p>
    <br/>
</section>