        <section 
        {{!-- id="carousel" --}}
        >

            <div class="slide" id="slide3" >
                <div class="slide-nav">
                    <div class="back-icon" onclick="initializeForm()">
                        <img src="../public/images/darkarrow.svg">
                    </div>

                    <div class="icon-area">
                        <div class="icons">
                            <img src="../public/images/darkfullcircle.svg">
                            <img src="../public/images/darkfullcircle.svg">
                            <img src="../public/images/darkemptycircle.svg">
                            <img src="../public/images/lightemptycircle.svg">
                            <img src="../public/images/lightemptycircle.svg">
                        </div>
                    </div>
                    {{!-- <div class="next-icon" id="next5">
                        <i class="fas fa-arrow-right "></i>
                    </div> --}}
                <div class="btn btn-reset" onclick="initializeForm()">Reset</div>
                </div>
                <h2>What is your Department of Transportation (DOT) number?</h2>
                <div class="digits">
                    <input type="text" name="digit1" />
                    <input type="text" name="digit2" />
                    <input type="text" name="digit3" />
                    <input type="text" name="digit4" />  
                    <input type="text" name="digit5" />  
                    <input type="text" name="digit6" />  
                    <input type="text" name="digit7" />  
                </div>
                <input type="number" id="slide3DOT" name="DOT" min="0">

                {{!-- <p id='DOTError' class="error">Please enter a valid DOT Number</p> --}}
                <div id="loading-icon">
                    <p>Searching for DOT <span id="searchingSpan"></span></p>
                    {{!-- <i style="color: red" class="fas fa-hourglass-half fa-pulse"></i>
                    <i style="color: blue" class="fab fa-osi fa-pulse"></i> --}}
                    <i class="fas fa-sync-alt fa-pulse"></i>
                    {{!-- <img src="public/images/loadingIcon.svg" alt=""> --}}
                </div>
                <div id="searchResult" class="expandable">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {{!-- <p>Based on the DOT you entered, this is what we found...</p> --}}
                                <p id="result-header"></p>
                            </div>
                            <div class="modal-body">
                                <div class="modal-left">
                                    <h2 style="margin-top: 0" id="companyName"></h2>
                                    <h3 id="DBA"></h3>
                                    <div id="manualInput">
                                        <div id="manualInputForm">
                                            <p class="blueText">DOT:</p>
                                            <p id="DOT"></p>
                                            <label for="address">Address</label>
                                            <textarea class="modal-input" id="address" name="address" type="text" cols="40" rows="2"></textarea>
                                            <label for="mailingAddress">Mailing Address</label>
                                            <textarea class="modal-input" id="mailingAddress" name="mailingAddress" type="text" cols="40" rows="2"></textarea>
                                            <label for="phone">Phone Number</label>
                                            <input class="modal-input" id="phone" name="phone" type="tel" >
                                            <label for="email">Email</label>
                                            <input class="modal-input" id="email" name="email" type="email" >
                                        </div>
                                    </div>
                                </div>  
                                <div style ="background: var(--light);">
                                    <div class="modal-right">
                                        <label class="blueText" for="milesTraveled">Miles Traveled</label>
                                        <input type="number" name="milesTraveled" id="milesTraveled">
                                        <label class="blueText" for="carrierOperation">Carrier Operation</label>
                                        <select name="carrierOperation" id="milesTraveled" multiple>
                                            <option value="interstate">Interstate</option>
                                            <option value="intrastate-non">Intrastate Non-hazmat</option>
                                            <option value="intrastate-hm">Intrastate Hazmat</option>
                                        </select>
                                        <label class="blueText" for="powerUnits">Trucks</label>
                                        <input type="number" name="powerUnits" id="powerUnits">
                                        <label class="blueText" for="drivers">Drivers</label>
                                        <input type="number" name="drivers" id="drivers">
                                        <label class="blueText" for="operationType">Operation Type</label>
                                        <select name="operationType" id="operationType">
                                            <option value="1">Authorized for Hire</option>
                                            <option value="2">Private Passenger, Business</option>
                                            <option value="3">U.S. Mail</option>
                                            <option value="4">Exempt for Hire</option>
                                            <option value="5">Local Government</option>
                                            <option value="6">Private Passenger, Non-business</option>
                                            <option value="7">Federal Government</option>
                                            <option value="8">Indian Tribe</option>
                                            <option value="9">Private Property</option>
                                            <option value="10">Migrant</option>
                                            <option value="11">State Government</option>
                                            <option value="12">Other</option>
                                        </select>
                                        <label class="blueText" for="cargoCarried">Cargo Carried</label>
                                        <select name="cargoCarried" id="cargoCarried">
                                            <option value="1">General Freight</option>
                                            <option value="2">Motor Vehicles</option>
                                            <option value="3">Building Materials</option>
                                            <option value="4">Fresh Produce</option>
                                            <option value="5">Passengers</option>
                                            <option value="6">Grain, Feed, Hay</option>
                                            <option value="7">Garbage, Refuse, Trash</option>
                                            <option value="8">Commodities Dry Bulk</option>
                                            <option value="9">Paper Products</option>
                                            <option value="10">Construction</option>
                                            <option value="11">Household Goods</option>
                                            <option value="12">Drive away/Towaway</option>
                                            <option value="13">Mobile Homes</option>
                                            <option value="14">Liquids/Gases</option>
                                            <option value="15">Oil Field Equipment</option>
                                            <option value="16">Coal, Coke</option>
                                            <option value="17">U.S. Mail</option>
                                            <option value="18">Refrigerated Food</option>
                                            <option value="19">Utility</option>
                                            <option value="20">Water Well</option>
                                            <option value="21">Metal; Sheets, Coils, Rolls</option>
                                            <option value="22">Logs, Poles, Beams, Lumber</option>
                                            <option value="23">Machinery, Large Objects</option>
                                            <option value="24">Intermodal Containers</option>
                                            <option value="25">Livestock</option>
                                            <option value="26">Meat</option>
                                            <option value="27">Chemicals</option>
                                            <option value="28">Beverages</option>
                                            <option value="29">Farm Supply</option>
                                            <option value="30">Other</option>
                                        </select>

                                        {{!-- <p class="blueText">Vehicle Miles Traveled</p>
                                        <p id="milesTraveled"></p>
                                        <p class="blueText">Carrier Operation</p>
                                        <p id="carrierOperation"></p>
                                        <p class="blueText">Trucks</p>
                                        <p id="powerUnits"></p>
                                        <p class="blueText">Drivers</p>
                                        <p id="drivers"></p>
                                        <p class="blueText">Operation Type</p>
                                        <p id="operationType"></p>
                                        <p class="blueText">Cargo Carried</p>
                                        <p id="cargoCarried"></p> --}}
                                    </div>
                                    <div class="btn-next" onclick="changeSlide(1)">Continue ></div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>