<div id="form-intro">
            <div id="intro-image">
                <div class="banner">
                    <h1>20% off your Worker's Comp in 30 seconds</h1>
                </div>
            </div>
            <div id="slide1" class="narrow-slide">
                <div id="slide1-headline">
                    <h1>Instant Quote.</h1>
                    <h1>No Account Needed.</h1>
                </div>
                <h2 id="slide1-question">What's Your Business?</h2>
                <div class="type-tiles">
                    <button class ="four-tile tile" id="slide1Towing" >
                        <i class="material-icons" >car_repair</i>
                        <p>Towing Services</p>
                    </button>
                    <button class ="four-tile tile" id="slide1Sand" >
                        <i class="material-icons" >landscape</i>
                        <p>Sand & Gravel Trucking</p>
                    </button>
                    <button class ="four-tile tile" id="slide1LongHaul" >
                        <i class="material-icons" >room</i>
                        <p>Long Haul Trucking</p>
                    </button>
                    <button class ="four-tile tile" id="slide1Local" >
                        <i class="material-icons" >local_shipping</i>
                        <p>Local Trucking</p>
                    </button>

                </div>
                <div class="icon-area">
                    <div class="icons">
                        <img src="../public/images/darkemptycircle.svg">
                        <img src="../public/images/lightemptycircle.svg">
                        <img src="../public/images/lightemptycircle.svg">
                        <img src="../public/images/lightemptycircle.svg">
                        <img src="../public/images/lightemptycircle.svg">
                    </div>
                </div>
            </div>
        </div>