
.accent {
    color: #1C2541;
}


.centered {
    text-align: center;
}


.circle {
    height: 210px;
    width: 210px;
    max-width: 210px;
    border-radius: 100%;
    border: 2px solid #182FA5;
    color: #182FA5;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: center;
    line-height: 1.3;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;
}

.dark {
    background: rgb(55, 147, 255);
    color: #F5F3F5;
}

.indented {
    margin: 40px 20%;
}

.lt-blue {
    background: rgb(209, 230, 236);
}

.lt-green {
    background: rgb(215, 241, 215);
}

.m-0 {
    margin: 0;
}

.p-1 {
    padding: 5px;
}

.two-column-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    text-align: right;
    padding-bottom: 20px;
}

.two-column-section p {
    font-size: 16px;
}

.wide-section {
    margin: 10px 0;
    padding: 20px 14% 0;
    letter-spacing: .8px;
}

.yellow {
    background: rgb(250, 235, 150);
}

#about-image img {
    height: 300px; 
    text-align: center; 
    margin: 30px 0;
}

#inset {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #F5F3F5;
    color: #1C2541;
    margin: 20px 5% 0;
    text-align: center;
    padding: 8px 0;
}

#main {
    background: #F5F3F5;
    margin-top: 70px;
    margin-bottom: 0;
    padding-bottom: 100px;
}

#three-circles {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 14%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (max-width: 820px) {
    .two-column-section {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .two-column-section * {
        text-align: center;
    }

    .wide-section {
        padding: 20px 12% 0;
    }

    .circle {
        -webkit-box-flex: 50%;
        -moz-box-flex: 50%;
        -ms-flex: 50%;
        -webkit-flex: 50%;
        flex: 50%;
    }
    #about-image {
        display: none;
    }
}