

.blue-block {
    margin: 2vw 30vw;
    background: #5fb695;
    text-align: center;
    color: white;

}

.blue-block h2 {
    font-size: 3vw;
}

.circle {
    flex: 1 1 0;
    max-width: 17vw;
    min-width: 17vw;
    max-height: 17vw;
    min-height: 17vw;
    border-radius: 100%;
    border: .4vw solid #5fb695;
    color: #5fb695;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* padding: 10vw 0; */
}

.circle-text p {
    margin: 0;
    padding: 0;
}

.image-side img{
    height: 30vw;
    padding: 5vw 2vw;
}   

.quote {
    width: 100vw;
    padding: 2vw;
}

.large {
    font-size: 4vw;
    font-weight: 600;
    /* padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin: auto; */
}

.lt-blue {
    background: rgb(235, 239, 255);
}

.lt-green {
    background: rgb(233, 255, 227);
}

.yellow {
    background: rgba(255, 212, 90, 0.54)
}

.small {
    font-size: 1.8vw;
}

.left {
    text-align: left;
    margin: 2% 38% 2% 12%; 
}

.right {
    text-align: right;
    margin: 2% 12% 2% 38%; 
}

.rounded-block {
    background: white;
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    bottom: 0;
    left: 24%;
    margin-top: 2vw;
}

.rounded-block h3 {
    color: #5fb695;
    text-align: center;
    font-size: 3vw;
    padding: 1vw 5vw;
    margin: 0 auto;
}

.two-column {
    display: flex;
    align-items: flex-start;
    margin: 2vw 0;
}

.white-card {
    background: white;
    padding: 1.3vw;
}

#quote-section {
    /* display: flex; */
    text-align: center;
    background: rgb(242, 253, 244);
}

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#partners img {
    padding: 0 1vw;
    height: 8vw;
}

#three-circles {
    display: flex;
    justify-content: center;
    column-gap: 3.5vw;
    padding: 3vw .8vw;
    position: relative;
}

#top-section {
    background: #5fb695;
    position: relative;
}

#top-section h2 {
    color: white;
}

#top-section span {
    /* color: rgb(242, 128, 97); */
    color: rgb(33, 22, 133);
}
