
hr {
    height: 9px;
    background: white;
    border: 1px solid rgb(55, 147, 255);
    width: 20%;
}

input {
    margin-bottom: 10px;
    min-width: 60%;
}

.card-body {
    padding: 15px;
}

.card-heading {
    background: #1C2541;
    color: white;
    padding: 1vw;
    margin-block-start: 0;
    margin-block-end: 0;
}

.completed {
    height: 15px;
    background: #1C2541;
    border: 1px solid #1C2541;
}

.current {
    height: 25px;
    border: 1px solid #1C2541;
    background: rgb(55, 147, 255);
}

.dashboard-nav {
    width: 100%;
}

.dashboard-nav-button {
    width: 100%;
    /* border: 1px solid black; */
    background: rgb(55, 147, 255);
    transition: background-color .5s ease;
    text-align: center;
    padding: 0 10px;
    color: white;
    cursor: pointer;
}

.left {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid white;
}

.right {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid white;
}

.dashboard-nav-button:hover {
    background: #1C2541;
}

.dashboard-section {
    opacity: 0;
    transition: opacity .5s ease;
}

.hidden {
    display: none;
}

.login-card {
    margin: 100px 25% 0 25%;
    border: 2px solid #1C2541;
    border-radius: 5px;
    font-size: large;
}

.form-button:hover {
    background-color: #1c2243;
}

.form-button {
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 5px 2vw;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    background-color: rgb(55, 147, 255);
    width: 100%;
}
.form-button-text {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: white;
    background: inherit;
}

.step {
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.step:hover::before {
    position: absolute;
    color: white;
    padding: 10px;
    top: -100%;
    left: -200%;
    background: black;
    opacity: 90%;
    width: 300px;
}

#bottom-line {
    margin: 1vw 25% 0 25%;
    padding: 0 1vw 6vw 1vw;
}

#btn-submit {
    padding: 10px;
    background: rgb(55, 147, 255);
    color: white;
    transition: all 0.6s ease;
    width: 98%;
    text-align: center;
    margin: 15px 0 8px 0;
}

#dashboard { 
    margin: 100px 12% 80px 12%;
}

#dashboard-nav {
    display: flex;
}

#progress-steps {
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#progress-graphic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#step1:hover::before {
    content: "First, create your TruckerComp profile";
}

#step2:hover::before {
    content: "Next, provide information about your business";
}

#step3:hover::before {
    content: "Then, submit the following documents: ";
}

#step4:hover::before {
    content: "After this, we will process your documents and respond in 1-2 business days";
}

#step5:hover::before {
    content: "Lastly, you can purchase your policy!";
}

#userInfo {
    display: -ms-inline-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#userInfoUpdate {
    display: none;
}

#editForm {
    display: -ms-inline-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#editForm label {
    font-size:  18px;
}


/* ----------
Media Queries
---------- */
@media only screen and (max-width: 676px) {
    #userInfo, #editForm {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    #footer-columns {
        display: unset;
    }
}

@media only screen and (max-width: 479px) {
    .login-card {
        margin: 100px 15px 0 15px;
    }
    
    #bottom-line {
        margin: 1vw 15px 0 15px;
    }
}