/* ----------
  Whole page
---------- */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Raleway';
}

button {
    cursor: pointer;
}

h2 {
    font-size: 1.8vw;
    font-weight: 700;
    padding: 1vw 0;
    margin-bottom: 0; 
}

h3 {
    font-size: 1.3vw;
    font-weight: 300;
}

h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.indented {
    padding: 1% 16%;
}

/* ----------
    Navbar
---------- */

.btn-nav {
    background: rgb(245, 166, 20);
    text-align: center;
    padding: 1vw;
}

.logo {
    display: flex;
}

.logo img {
    height: 56px;
}

.logo p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#by-sark {
    font-size: 13px;
}

#menu-items {
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

#navbar {
    background: rgb(255, 240, 230);
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 3fr ;
    justify-content: center;
    padding: .7vw 8%;
    text-align: center;
}

#navbar a {
    font-size: 0.6vw;
    font-weight: 800;
    text-decoration: none;
    align-items: center;
    margin: .4vw 1vw;
    color: rgb(3, 7, 48);
    align-self: center;

}

#nav-toggle, #hamburger-icon {
    display: none;
}

#comp {
    color: rgb(33, 115, 209);
}

#hamburger-icon {
    font-size: 40px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 7vw;
    top: 1.5vw;
}

#truckercomp {
    font-size: 26px;
    font-weight: 800;
    color: red;
    line-height: 26px;
}

@media only screen and (max-width: 700px) {
    #hamburger-icon {
      display: inline-block;
    }

    #menu-items {
      display: none;
    }

    #nav-toggle:checked ~ #menu-items {
        display: grid;
        grid-row: 2;
        justify-content: stretch;
    }
    #navbar a {
        font-size: 3vw;
    }
}

/* ----------
    Footer
---------- */

.footer-logo-top {
    font-size: 4.4vw;
    letter-spacing: -.07em;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
    line-height: 4.1vw;
    padding-top: .8vw;
}
.footer-logo-bottom {
    font-size: .99vw;
    letter-spacing: -0.4px;
    margin: 0;
    padding-left: .5px;
}

.social {
    font-size: 2.2vw;
    margin: 0 0.3vw;
}

#contact * {
    padding: 0;
    margin: 0;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0fr 1fr;
    align-items: center;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #3499cc;   
}

#footer>div {
    margin: 1vw 1.4vw;
}

#footer-area {
    background: #0b0125;
    color: rgb(226, 225, 225);
    font-size: 1.2vw;
    margin: 0;
    padding: 1% 8%;
}

#footer-logo {
    display: flex;
    font-family: helvetica;
}

#footer-logo img {
    height: 7vw;
}



@media only screen and (max-width: 700px) {
    .social {
        font-size: 4vw;
    }
    
    #footer {
        grid-template-columns: 1fr 1fr;
    }
    #footer-area {
        font-size: 3.5vw;
    }
}