/* color and font-size variables */
:root {
    --white: #F5F3F5;
    --light: #277EC3;
    --accent: #1C2541;
    --dark: #EF8354;
    --xsmall: 0.8vw;
    --small: 1vw;
    --med: 1.3vw;
    --large: 1.8vw;
    --mobxsmall: 2.8vw;
    --mobsmall: 3.5vw;
    --mobmed: 4.2vw;
    --moblarge: 5vw;
}

* {
    color: var(--accent);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input, label, select {
    display: block;
    font-size: var(--small);
}

input {
    margin: .5vw 0 1.2vw 0;
    width: 98%;
    color: var(--light);
}

/* input[type="radio"] {
    display: none;
    font-size: 1.1vw;
    padding: 1vw;
    background: white;
    border-radius: 6px;
    border: 1px solid rgb(73, 73, 73);
} */

/* input[type="radio"]:checked + .toggle {
    background-color: #19b5b1;
    cursor: pointer;
    border: 1px solid #19b5b1;
    color: white;
} */

main p, main li, main td {
    font-size: var(--med);
}

.active {
    display: block!important;
}

.block {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    border: 4.5px solid var(--accent);
    border-radius: 10px;
    padding: 13px;
    position: relative;
    /* border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent); */
    margin-top: 10px;
}

.block-header {
    min-width: 40px;
    margin-top: -10px;
    margin-left: 15px;
    background: white;
    padding: 0 1vw;
    font-size: var(--med);
    font-weight: 700;
    position: absolute;
}

.blue-bg {
    background: var(--accent);
    color: var(--white);
    padding: 1vw 2vw; 
}

.dark {
    background: var(--white);
}

.dual-column {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.dual-column > p {
    padding: 0 1vw;
}

.formline {
    margin: .5vw 0!important;
    display: flex;
    flex-direction: row;
}

.formline select, .formline input {
    margin: 0 .1vw 0 0;
    width: 33%;
}

.left {
    flex: 45%;
    padding: 0 1vw;
}

.right {
    flex: 55%;
    border-left: 1px solid var(--accent);
    padding: 0 1vw;
}

.step {
    display: none;
}

#btn-logout {
    padding: 0.8vw;
    background: var(--dark);
    /* border-radius: 4%; */
    color: white;
    transition: all 0.6s ease;
    font-size: var(--small);
    text-align: center;
    float: right;
    text-decoration: none;
}

#btn-save {
    padding: 0.8vw;
    background: var(--dark);
    color: white;
    transition: all 0.6s ease;
    font-size: var(--small);
    text-align: center;
    cursor: pointer;
    border: none;

}

#btn-search {
    padding: 0.8vw;
    background: var(--dark);
    color: white;
    transition: all 0.6s ease;
    font-size: var(--small);
    text-align: center;
    border: none;
}

#employeeInfoTableHeadings p{
    min-width: 32%;
    display: inline-block;
    margin: 0;
}

#infoDisplay {
    padding-top: 1vw;
    display: block;
    max-height: 0;
    transition: max-height .6s ease-in;
    overflow: hidden;
    width: 100%;
}

#manualInput {
    padding-top: 1vw;
    display: block;
    max-height: 0;
    /* border: 0.5px solid grey;
    border-radius: 5px;  */
    padding: 1vw;
    margin: 1vw 0;
    transition: max-height .6s ease-in; 
    overflow: hidden;
}

#manualInput fieldset{
    width: 98%;
}

#manualInputForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#myChart {
    margin: 0 2vw;
    width: 200px;
    height: 200px;
}

#searchError, #saveError {
    font-style: italic;
    color: var(--dark);
    margin-block-start: 0;
}

#truckImg {
    height: 28vw;
    padding: 2vw;
}

#two-column {
    padding-top: 1vw;
    display: flex;
    transition: max-height .6s ease-in;
    max-height: 4000px;
    overflow: hidden;
}


/* ----------
Media Queries
---------- */

@media only screen and (max-width: 700px) {

    h2 {
        font-size: var(--mobmed);
    }

    input, label, select {
        font-size: var(--mobsmall);
    }

    main p, main li, main td {
        font-size: var(--mobsmall);
    }

    .block-header {
        font-size: var(--mobsmall);
    }

    #btn-logout, #btn-save, #btn-search {
        font-size: var(--mobsmall);
    }
    
    #manualInputForm {
        grid-template-columns: 1fr;
    }

    #truckImg {
        display: none;
        /* height: 50vw;
        float: unset; */
    }

    #two-column {
        display: grid;
    }

}