
/* -------------------------------------------------------------------------------------------------------
 This page defines the styles used in heroslide.hbs

 It is organized by the section of the page in which the style in question is implemented, in order of:
 1. html tags
 2. classes
 3. ids
 All media queries come at the end.
---------------------------------------------------------------------------------------------------------*/


.arrow {
    display: block;
    margin-left: 0vw;
    align-self: center;
    order: -1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    cursor: pointer;
}

.first-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 8vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.form-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px 1vw 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 10px;
    background-color: #3793ff;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
    text-decoration: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #1c2243;
}

.form-button-image {
    display: block;
    width: 8vw;
    max-width: 100px;
    min-width: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
}

.form-button-text {
    margin: 1vw auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.form-button.vertical {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.form-page {
    padding-top: 60px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgb(236, 245, 254);
    min-height: 650px;
    font-family: Lato, sans-serif;
    transition: transform .5s ease;
    width: 90%;
}

.form-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-right: 5vw;
    margin-left: 5vw;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1.5fr 2fr;
    grid-template-columns: 1.5fr 2fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.hero-caption {
    color: #3793ff;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
    white-space: normal;
    text-align: center;
}

.hero-image {
    min-height: 650px;
    width: 35%;
    padding: 40px 3vw;
    background-image: url('../images/truckbgd.jpeg');
    background-position: 100% 0%;
    background-size: cover;
    transition: transform .5s ease;
    position: absolute;
    z-index: 5;
}

.hero-question {
    margin: 20px auto;
}

.image-caption {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border: 0px none #000;
    border-radius: 10px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(194, 222, 255, 0.31)), to(rgba(194, 222, 255, 0.31))), -webkit-gradient(linear, left top, left bottom, from(rgba(194, 222, 255, 0.31)), to(rgba(194, 222, 255, 0.31))), -webkit-gradient(linear, left top, left bottom, from(rgba(194, 222, 255, 0.31)), to(rgba(194, 222, 255, 0.31))), -webkit-gradient(linear, left top, left bottom, from(rgba(194, 222, 255, 0.31)), to(rgba(194, 222, 255, 0.31)));
    background-image: linear-gradient(180deg, rgba(194, 222, 255, 0.31), rgba(194, 222, 255, 0.31)), linear-gradient(180deg, rgba(194, 222, 255, 0.31), rgba(194, 222, 255, 0.31)), linear-gradient(180deg, rgba(194, 222, 255, 0.31), rgba(194, 222, 255, 0.31)), linear-gradient(180deg, rgba(194, 222, 255, 0.31), rgba(194, 222, 255, 0.31));
    color: #3793ff;
    font-size: 32px;
    line-height: 115%;
    font-weight: 400;
    text-align: right;
}
.in-view {
    left: 5%;
}

.move-left {
    transform: translateX(-100vw);
}

.move-right {
    transform: translateX(100vw);
}

.progress-block {
    display: -ms-grid;
    display: grid;
    margin: 40px auto 0px;
    padding-top: 0px;
    padding-right: 17vw;
    padding-left: 17vw;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-columns: 1fr;
    grid-column-gap: 11px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.progress-bar {
    display: grid;
    margin-right: 5vw;
    margin-left: 5vw;
    justify-content: flex-start;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: auto;
}

.progress-block.bar {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 5vw;
    padding-left: 5vw;
    align-self: center;
}

.question-title {
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: #1c2243;
    font-weight: 700;
    text-align: center;
}

.second-question {
    margin-top: 30px;
    margin-right: 8vw;
    margin-left: 8vw;
}

.tall {
    height: 780px!important;
}

.taller {
    height: 970px!important;
}

#hero {
    background: #F5F3F5;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    height: 720px;
}

#slide1 {
    left: 40%;
    z-index: 5;
    width: 55%;
    position: absolute;
}

#slide2 {
    left: 40%;
    z-index: 4;
    width: 55%;
    position: absolute;
}

@media screen and (max-width: 991px) {

    .form-button-image {
        max-height: 100%;
        min-height: 5px;
    }
    .hero-image {
        display: none;
        background-image: url('../images/redtrucks.png');
        background-size: cover;
    }
    .tall {
        height: 820px!important;
    }
    .taller {
        height: 1300px!important;
    }
    #slide1, #slide2 {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .first-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .form-button {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2vw;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .form-button-image {
        min-width: 10vw;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        align-self: center;
    }
    .form-button-text {
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .progress-bar {
        margin-right: 2vw;
        margin-left: 2vw;
        grid-column-gap: 0px;
        grid-template-columns: 0.25fr 1fr;
    }
    .tall {
        height: 900px!important;
    }
    .taller {
        height: 1500px!important;
    }
    #hero {
        height: 780px;
    }
}

@media screen and (max-width: 479px) {

    .form-button-image {
        min-width: 15vw;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
    }
    .tall {
        height: 1060px!important;
    }
    .taller {
        height: 1480px!important;
    }
}