/* ----------
  This style sheet will be indexed by the vertical position of elements
  1. Whole page elements
  2. Navbar elements
  3. Hero elements
  4. About section elements
  5. Footer elements
  6. Media queries

  Each sub-section is organized alphabetically by:
  1. Elements
  2. Classes
  3. IDs
  4. Pseudoelements
  ---------- */

/* ----------
  Whole page
---------- */

body {
    background: white;
    /* font-family: 'Open Sans'; */
    /* font-family: 'Sarabun'; */
    font-family: 'Raleway';
}

button {
    cursor: pointer;
}

h2 {
    font-size: 1.8vw;
    font-weight: 700;
    padding: 1vw 0;
    margin-bottom: 0; 
}

h3 {
    font-size: 1.3vw;
    font-weight: 300;
}

.logo {
    height: 70px;
    vertical-align: top;
}

.title {
    height: 64px;
    vertical-align: top;
}

/* ----------
   Navbar
---------- */

.btn-test {
    float: right;
    padding: 10px;
    color: white;
    background: red;
    height: 2.5vw;
    font-size: 1.4vw;
    border: 1px solid black;
    border-radius: 5%;
    text-decoration: none;
}

/* ----------
    Hero
---------- */


input {
    background: inherit;
    border: none;
    border-bottom: 1px solid #585858;
    font-size: 1.3vw;
    /* text-align: center; */
}

.active {
    color: rgb(27, 27, 27)!important;
}

.btn-reset {
    background: #426b13;
    padding: 1.1vw;
    color: white;
    font-size: 1vw;
    border-radius: 2000px;
    right: 0;
    cursor: pointer;
    z-index: 5;
}

.btn-save {
    text-align: center;
    align-self: center;
    cursor: pointer;
    background-color: green;
    padding: 1vw;
    border-radius: 4%;
    border: 1px solid white;
    color: white;
    transition: all 0.6s ease;
    font-size: 1.1vw;
    margin: 0 34%;
    grid-column-start: center;
    grid-row-start: bottommid;
}

.btn-submit {
    text-align: center;
    align-self: center;
    cursor: unset;
    background-color: #666;
    padding: 1vw;
    border-radius: 4%;
    border: 1px solid white;
    color: white;
    transition: all 0.6s ease;
    font-size: 1.1vw;
    margin: 0 40%;
    grid-column-start: center;
    grid-row-start: bottommid;
}

#employeeInfoTableHeadings {
    display: flex;
    flex-direction: row;
}

#employeeInfoTableHeadings p{
    margin: 0 5vw 0 0;
    width: 33%;
    font-size: 1vw;
}

.formline {
    margin: .5vw 0!important;
    display: flex;
    flex-direction: row;
}

.formline select, .formline input {
    margin: 0 5vw 0 0;
    width: 33%;
}


.four-tile {
    background: #6699B9;
    color: white;
    text-align: center;
    font-size: 1vw;
    width: 7.1vw;
    height: 10.5vw;
}

.fa-circle {
    color: #585858;
    margin: 0 .2vw;
}

.heading-area {
    margin: 1% 0;
    text-align: center;
    padding: 0 3%;
}

.hero-form {
    grid-column-start: center;
    grid-row-start: topmid; 
    grid-row-end: bottom;
    padding: 0 4vw;
}

.hero-form p {
    font-size: 1.2vw;
    margin: 0;
}

.hero-form h3 {
    margin: 2.4vw 0 0 0;
}

.icon-area {
    display: flex;
    justify-content: center;
    font-size: 1.7vw;
    align-items: center;
    grid-column-start: center;
    grid-row-start: bottom;
}

.icons {
    text-align: center;
    transition: color 0.6s ease;
}

.back-icon {
    font-size: 5.1vw;
    color: rgb(219, 166, 166);
    transition: all .5s ease;
    z-index: 3;
    cursor: pointer;
    grid-column-start: lside;
    grid-row-start: centerline;
    justify-self: end;
}

.next-icon {
    font-size: 5.1vw;
    color: rgb(219, 166, 166);
    opacity: 0;
    transition: all .5s ease;
    z-index: 3;
    grid-column-start: rside;
    grid-row-start: centerline;
}

.next-icon:hover, .back-icon:hover {
    transform: scale(1.2);
}

.material-icons {
    font-size: 3.5vw;
}


.selected {
    background: #1e8ee9!important;
    color: white;
}

.slide {
    min-width: 78vw;
    display: grid;  
    grid-template-columns: [lside] 10% [center] 80% [rside] 10%;
    grid-template-rows: [top] 5vh [topmid] 14vh [centerline] 4vh [bottommid] 17vh [bottom] 5vh;
    transition: transform 0.5s;
    /* z-index: 1; */
}

.slide > h3 {
    text-align: center;
    grid-column-start: center;
    grid-row-start: top;
}

.tile {
    transition: all ease 250ms;
    border-radius: 6%;
}

.tile:hover {
    background: #3499cc;
}

.tile:focus {
    background: #3499cc;
    border: none;
}

.tiles-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3.3vw;
    padding: 2.4vw .8vw;
    position: relative;
    grid-column-start: center;
    grid-row-start: topmid;
    grid-row-end: bottom;
}

/* .tiles-five {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
    padding: 2.4vw .8vw;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-start: center;
    grid-row-start: topmid;
    grid-row-end: bottommid;
} */

.tiles-multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
    padding: 2.4vw .8vw;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-start: center;
    grid-row-start: topmid;
    grid-row-end: bottommid;
}

.two-tile {
    background: #6699B9;
    color: white;
    text-align: center;
    font-size: 1vw;
    width: 9vw;
    height: 10.5vw;
}

#bgd-icons {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    bottom: 0;
}

#bottom-line {
    font-size: .9vw;
    font-style: italic;
    text-align: center;
    padding-bottom: .1vw;
    color: #585858;
    width: 100%;
}

#carousel {
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#container {
    width: 78vw;
    background: white;
    opacity: .9;
}

#empError, #milesError, #payrollError, #zipError, #emailError {
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-style: italic;
    font-size: 1vw;
    color: red;
    grid-column-start: center;
    grid-row-start: bottommid;
}

#hero {
    padding: 1vw 10vw;
    background: url('../images/truckbgd.jpeg');
    /* background: #d8d8d8; */
    background-size: cover;
    /* background-repeat: no-repeat; */
}

#hero a {
    text-decoration: none;
    cursor: pointer;
}

#icon-spacer {
    width:60%;
}

#quote-area {
    margin: 1vw;
    padding: 2vw;
    background: rgb(23, 122, 114);
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    grid-column-start: center;
    grid-row-start: topmid;
}

#reset-container {
    position: absolute; 
    right: 14vw; 
    z-index: 5
}

/* ----------
    About
---------- */

svg {
    height: 4vw;
    width: 4vw;
    padding: 1.2vw;
}

.about-box {
    border: .6vw solid rgb(0, 0, 0);
    border-radius: 3%;
    flex: 1 1 0;
    text-align: center;
}

.about-icon {
    height: 5vw;
    width: 5vw;
    margin: auto;
    border: .4vw solid black;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about-text {
    /* color: rgb(27, 165, 219); */
    font-size: 1.4vw;
    font-weight: 600;
}

.wide-indent {
    padding: 1% 22%;
}

#about {
    margin: 2vw;
}

#about-container {
    display: flex;
    justify-content: center;
    column-gap: 3.5vw;
    padding: 3vw .8vw;
    position: relative;
}

#about-headline {
    text-align: center;
}

#about-headline h2 {
    font-size: 38px;
}

/* ----------
     Map
---------- */

/* .narrow-indent {
    padding: 1% 12%;
} */

.map-side-lg {
    display: block;
    height: 20vw;
    position: relative;
    /* background: url('../images/mapp.png');
    background-size: cover; */
}

.map-side-sm {
    display: none;
    height: 42vw;
    position: relative;
    /* background: url('../images/mapp.png');
    background-size: cover; */
}

/* .map-side::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    height: 20vw; 
    width: 30vw; 
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 15px 10px #555;
  } */


.text-side h3 {
    font-weight: 700;
}

.two-column {
    padding: 1% 16%;
    background: rgb(235, 239, 255);
    display: flex;
    justify-content: center;
    column-gap: 3%;
    align-items: center;
}

#US-map-lg {
    height: 20vw;
    background: white;
    box-shadow: 0 0 15px -2px rgba(50, 50, 50, .2);
}

#US-map-sm {
    height: 42vw;
    background: white;
    box-shadow: 0 0 15px -2px rgba(50, 50, 50, .2);
}

/* ----------
  Why-SARK
---------- */



.btn-contact {
    border-radius: 2000px;
    border: none;
    background: rgb(6, 12, 94);
    color: white;
    font-size: 1.6vw;
    padding: .7vw 5vw;
    text-align: center;
    margin: 2vw auto;
    cursor: pointer;
}

.bullet-icon {
    height: 3.5vw;
    width: 3.5vw;
    margin: auto;
    border: .3vw solid black;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bullet-icon img {
    height: 2.4vw;
    width: 2.4vw;
    padding: 1.2vw;
}

.bullet-icon p {
    text-align: center;
    font-size: 2.9vw;
    font-weight: bold;
}

.bullet-text {
    font-weight: 600;
    margin: .8vw 0;
}

.bullet-area {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

#cta {
    text-align: center;
    margin: 3vw 0;
}

#cta h2 {
    font-size: 2.5vw;
}

#why-SARK {
    padding: 0 20%;
}

#why-SARK hr {
    height: .6vw;
    background: black;
    border-radius: 2000px;
}

/* ----------
    Info
---------- */
/* 
.circle {
    border-radius: 100%;
}

.chevron {
    opacity: .5;
    font-size: 2rem;
    cursor: pointer;
}

.chevron:hover {
    opacity: .8;
}

.left-arrow {
    position: absolute;
    left: -26px;
    top: 150px
}

.right-arrow {
    position: absolute;
    right: -26px;
    top: 100px;
}

#blurb1 {
    position: absolute;
    overflow: hidden;
    opacity: 1;
    transition: opacity 1s ease;
}

#blurb2 {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
}

#info {
    opacity: 0;
    display: flex;
    background: #1F486A;
    color: white;
    transition: opacity .6s ease;
    min-height: 500px;
    justify-content: center;
}

#info-carousel {
    position: relative;
    width: 100%;
}

#info-carousel p {
    line-height: 1.85;
}

#info-container {
    padding: 40px 16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

#info-img {
    width: 17em;
    height: 17em;
}

#inner-circle {
    background: #255884;
    width: 20.6em;
    height: 20.6em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer-circle {
    background: #225078;
    width: 24em;
    height: 24em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
 */


/* ----------
    Footer
---------- */

#footer-logo {
    height: 7vw;
}

#four-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 2vw 0 5vw 0;
    text-align: center;
}

#legal {
    background: #2b2b2a;
}

#sitemap {
    background: rgb(71, 71, 71);
}

#social {
    font-size: 2.2vw;
    padding: .6vw;
    text-align: right;
    margin-right: 3vw;
    align-self: flex-end;
}


/* All media queries activate at 700px width */
@media only screen and (max-width: 700px) {

    h2, #cta h2 {
        font-size: 4vw;
    }
    h3 {
        font-size: 3.5vw;
    }

    .indented {
        padding: 1% 10%;
    }
    .wide-indent {
        padding: 1% 10%;
    }

    .about-text {
        font-size: 3.5vw;
    }

    .about-icon {
        height: 10vw;
        width: 10vw;
    }

    .back-icon, .next-icon {
        font-size: 10vw;
    }

    .hero-form p, input {
        font-size: 3.2vw;
    }

    .map-side-sm {
        display: block;
    }

    .map-side-lg {
        display: none;
    }

    .slide{
        grid-template-rows: [top] 5vh [topmid] 14vh [centerline] 1vh [bottommid] 15vh [bottom] 4vh;
    }

    .tile > br {
        display: none;
    }

    .tiles-two, .tiles-multi {
        font-size: 5vw;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: unset;
    }

    .two-tile, .four-tile {
        width: 90%;
        height: unset;
        padding: 2vw;
        margin-bottom: 10px;
        font-size: 5vw;
    }

    .btn-contact {
        font-size: 5vw;
        padding: 1vw 10vw;
    }

    .btn-reset {
        font-size: 2vh;
        
    }

    .btn-save {
        font-size: 5vw;
        padding: 1vw 6vw;
        margin: 0;
    }
    
    .btn-submit {
        font-size: 5vw;
        padding: 1vw 6vw;
        margin: 0 18%;
    }

    .formline select, .formline input {
        margin: 0 0.5vw 0 0;
    }

    #about-container {
        display: grid;
        gap: 8vw;
        padding: 1% 20%;
    }

    #bottom-line {
        font-size: 2.8vw;
    }   

    #employeeInfoTableHeadings p{
        font-size: 3vw;
        margin: 0 0.5vw 0 0;
    }

    #hero {
        padding: 1% 8%;
    }

    #empError, #payrollError, #zipError, #milesError, #emailError {
        font-size: 3.5vw;
    }

    #reset-container {
        top: 12vw;
    }

    #why-SARK {
        padding: 1% 12%;
    }
    .material-icons{
        display: none
    }
}

