/* ----------
  This style sheet will be indexed by the vertical position of elements
  1. Hero elements
  2. About section elements
  3. Footer elements
  4. Media queries

  Each sub-section is organized alphabetically by:
  1. Elements
  2. Classes
  3. IDs
  4. Pseudoelements
  ---------- */

/* color and font-size variables */
:root {
    --white: #F5F3F5;
    --light: #277EC3;
    --accent: #1C2541;
    --dark: #EF8354;
    --xsmall: 0.8vw;
    --small: 1vw;
    --med: 1.3vw;
    --large: 1.8vw;
    --mobxsmall: 2.8vw;
    --mobsmall: 3.5vw;
    --mobmed: 4.2vw;
    --moblarge: 5vw;
}

  
/* ----------
    Hero
---------- */


input {
    background: inherit;
    border: none;
    border-bottom: 1px solid #585858;
    font-size: var(--med);
}

select {
    font-size: var(--med);
}

.active {
    color: var(--accent)!important;
}

.btn-purchase {
    text-align: center;
    align-self: center;
    cursor: pointer;
    background: var(--accent);
    padding: 1vw;
    border-radius: 4%;
    border: 1px solid var(--white);
    color: var(--white);
    transition: all 0.6s ease;
    font-size: var(--med);
    margin: 0 34%;
    grid-column-start: center;
    grid-row-start: bottommid;
    z-index: 5;
}

.btn-reset {
    background: var(--dark);
    padding: 0.3vw .6vw;
    color: var(--white);
    font-size: var(--xsmall);
    border-radius: 2000px;
    cursor: pointer;
    z-index: 5;
}

.btn-save {
    text-align: center;
    align-self: center;
    cursor: pointer;
    background: var(--accent);
    padding: 1vw;
    border-radius: 4%;
    border: 1px solid var(--white);
    color: var(--white);
    transition: all 0.6s ease;
    font-size: var(--med);
    margin: 0 34%;
    grid-column-start: center;
    grid-row-start: bottommid;
}

.btn-submit {
    text-align: center;
    align-self: center;
    cursor: unset;
    background: var(--light);
    padding: 1vw;
    border-radius: 4%;
    border: 1px solid var(--white);
    color: var(--white);
    transition: all 0.6s ease;
    font-size: var(--med);
    margin: 0 40%;
    grid-column-start: center;
    grid-row-start: bottommid;
}

.formline {
    margin: .5vw 0!important;
    display: flex;
    flex-direction: row;
}

.formline select, .formline input {
    margin: 0 5vw 0 0;
    width: 33%;
}


.four-tile {
    background: var(--light);
    color: var(--white);
    text-align: center;
    font-size: var(--small);
    width: 7.1vw;
    height: 10.5vw;
}

.fa-circle {
    color: var(--light);
    margin: 0 .2vw;
}

.heading-area {
    margin: 1% 0;
    text-align: center;
    padding: 0 3%;
}

.hero-form {
    grid-column-start: center;
    grid-row-start: topmid; 
    grid-row-end: bottom;
    padding: 0 4vw;
}

.hero-form p {
    font-size: var(--med);
    margin: 0;
}

.hero-form h3 {
    margin: 2vw 0 0 0;
}

.icon-area {
    display: flex;
    justify-content: center;
    font-size: var(--med);
    align-items: center;
    grid-column-start: center;
    grid-row-start: bottom;
}

.icons {
    text-align: center;
    transition: color 0.6s ease;
}

.back-icon {
    font-size: 5.1vw;
    color: var(--dark);
    transition: all .5s ease;
    z-index: 3;
    cursor: pointer;
    grid-column-start: lside;
    grid-row-start: centerline;
    justify-self: end;
}

.next-icon {
    font-size: 5.1vw;
    color: var(--dark);
    opacity: 0;
    transition: all .5s ease;
    z-index: 3;
    grid-column-start: rside;
    grid-row-start: centerline;
}

.next-icon:hover, .back-icon:hover {
    transform: scale(1.2);
}

.material-icons {
    font-size: 3.5vw;
}

.selected {
    background: var(--accent)!important;
    color: var(--white);
}

.slide {
    min-width: 78vw;
    display: grid;  
    grid-template-columns: [lside] 10% [center] 80% [rside] 10%;
    /* grid-template-columns: [lside] 10% [center] 108% [rside] 10%; */
    grid-template-rows: [top] 5vh [topmid] 12vh [centerline] 4vh [bottommid] 10vh [lowerbottom] 6vh [bottom] 5vh;
    transition: transform 0.5s;

}

.slide > h3 {
    text-align: center;
    grid-column-start: center;
    grid-row-start: top;
}

.tile {
    transition: all ease 250ms;
    border-radius: 6%;
    border: none;
    box-shadow: 1px 1px 2px var(--light), -1px -1px 2px var(--light), 1px -1px 2px var(--light), -1px 1px 2px var(--light);
}

.tile:hover {
    background: var(--accent);
}

.tile:focus {
    background: var(--accent);
    border: none;
}

.tiles-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3.3vw;
    padding: 2.4vw .8vw;
    position: relative;
    grid-column-start: center;
    grid-row-start: topmid;
    grid-row-end: bottom;
}

.tiles-multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
    padding: 2.4vw .8vw;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-start: center;
    grid-row-start: topmid;
    grid-row-end: bottommid;
}

.two-tile {
    background: var(--light);
    color: var(--white);
    text-align: center;
    font-size: var(--small);
    width: 9vw;
    height: 10.5vw;
}

#bgd-icons {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
    bottom: 0;
    z-index: 0;
}

#bottom-line {
    font-size: var(--xsmall);
    font-style: italic;
    text-align: center;
    padding-bottom: .1vw;
    color: var(--accent);
    width: 100%;
}

#carousel {
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

#carousel *:not(button, input):focus {
    outline: none;
}

#container {
    width: 78vw;
    /* background: var(--white); */
    background: rgba(255, 255, 255, .7)
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0.8) 90%); */
    /* opacity: .9; */
}

#employeeInfoTableHeadings {
    display: flex;
    flex-direction: row;
}

#employeeInfoTableHeadings p{
    margin: 0 5vw 0 0;
    width: 33%;
    font-size: var(--small);
}

#empError, #milesError, #payrollError, #zipError, #emailError {
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-style: italic;
    font-size: var(--small);
    color: var(--dark);
    grid-column-start: center;
    grid-row-start: bottommid;
}

#hero {
    padding: 1vw 10vw;
    /* margin-top: 70px; */
    background: url('../images/truckbgd.jpeg');
    background-size: cover;
}

#hero a {
    text-decoration: none;
    cursor: pointer;
}

#quote-area {
    margin: 0 1vw;
    padding: 2vw;
    background: var(--accent);
    color: var(--white);
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    grid-column-start: center;
    grid-row-start: top;
    justify-self: center;
}

#quote-area h1, #quote-area h3 {
    font-size: var(--large);
}

#reset-container {
    text-align: center;
    z-index: 5;
    margin: 1vw 0;
}

#spanEmail {
    color: var(--dark);
}

/* ----------
    About
---------- */

svg {
    fill: var(--light);
}

.about-box {
    /* border: .6vw solid rgb(0, 0, 0);
    border-radius: 3%;
    flex: 1 1 0;
    text-align: center; */
    padding: 1.6vw;
    text-align: center;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 30%);
    background-color: #fff;
}

.about-button {
    font-size: var(--small);
    border-radius: 3px;
    color: #fff;
    background: var(--dark);
    border: 1px solid var(--white);
    padding: .8vw 1.6vw;
    display: inline-block;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.about-text {
    /* font-size: 1.4vw;
    font-weight: 600; */
    max-width: 100%;
    min-height: 6vw;
    margin: 1vw 0;
    font-size: var(--med);
}

#about {
    margin: 2vw;
    padding: 1% 8%;
    background: var(--white);
    /* font-family: 'Open Sans'; */
    /* color: #505050; */

}

#about h3 {
    font-size: var(--large);
    font-weight: 400;
}

#about-container {
    display: flex;
    justify-content: center;
    column-gap: 3.5vw;
    padding: 3vw .8vw;
    position: relative;
}

#about-headline {
    text-align: center;
}

#about-headline h2 {
    font-size: var(--large);
    font-weight: 700;
}

/* ----------
   Partners
---------- */

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8%;
}

#partners img {
    height: 4vw;
    margin: 0 1%;
}

#partners-section {
    text-align: center;
    margin: 4vw 0;
    /* color: #bfbfbf; */
}

/* ----------
     Map
---------- */

/* .narrow-indent {
    padding: 1% 12%;
} */

.map-side-lg {
    display: block;
    height: 20vw;
    position: relative;
}

.map-side-sm {
    display: none;
    height: 42vw;
    position: relative;
}

.text-side h3 {
    font-weight: 700;
}

.two-column {
    padding: 1% 16%;
    background: rgb(235, 239, 255);
    display: flex;
    justify-content: center;
    column-gap: 3%;
    align-items: center;
}

#US-map-lg {
    height: 20vw;
    background: var(--white);
    box-shadow: 0 0 15px -2px rgba(50, 50, 50, .2);
}

#US-map-sm {
    height: 42vw;
    background: var(--white);
    box-shadow: 0 0 15px -2px rgba(50, 50, 50, .2);
}

/* ----------
  Why-SARK
---------- */



.btn-contact {
    border-radius: 2000px;
    border: none;
    background: rgb(6, 12, 94);
    color: var(--white);
    font-size: 1.6vw;
    padding: .7vw 5vw;
    text-align: center;
    margin: 2vw auto;
    cursor: pointer;
}

.bullet-icon {
    height: 3.5vw;
    width: 3.5vw;
    margin: auto;
    border: .3vw solid black;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bullet-icon img {
    height: 2.4vw;
    width: 2.4vw;
    padding: 1.2vw;
}

.bullet-icon p {
    text-align: center;
    font-size: 2.9vw;
    font-weight: bold;
}

.bullet-text {
    font-weight: 600;
    margin: .8vw 0;
}

.bullet-area {
    padding: 0 2%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

#cta {
    text-align: center;
    margin: 3vw 0;
}

#cta h2 {
    font-size: 2.5vw;
}

#why-SARK {
    padding: 0 20%;
}

#why-SARK hr {
    height: .6vw;
    background: black;
    border-radius: 2000px;
}



/* Register */

.card-heading {
    background: var(--light);
    color: var(--white);
    padding: 1vw;
    text-align: center;
    border-bottom: 1px solid var(--light);
}

.card-body {
    padding: 1vw;
}

.login-card {
    border: 2px solid black;
    border-radius: 5px;
    grid-column-start: center;
    grid-row-start: top;
    grid-row-end: lowerbottom;
}

/* .login-card input, .login-card label {
    display: block;
} */

#btn-register {
    padding: 0.6vw;
    background: var(--dark);
    /* border-radius: 4%; */
    color: var(--white);
    transition: all 0.6s ease;
    font-size: var(--small);
    width: 98%;
    text-align: center;
    margin-top: 1vw;
    grid-row-start: bottommid;
}


#login-line {
    margin: 1vw 0;
    padding: 0 1vw 6vw 1vw;
    grid-column-start: center;
    grid-row-start: lowerbottom;
}


/* ----------
Media Queries
---------- */

@media screen and (max-width: 1100px) {

    #about-container {
        display: grid;
        gap: 2vw;
        padding: 1% 0;
    }
}


@media screen and (max-width: 700px) {

    h2, #cta h2 {
        font-size: var(--mobmed);
    }
    h3 {
        font-size: var(--mobsmall);
    }

    .about-text {
        font-size: var(--mobsmall);
    }

    .about-icon {
        height: 10vw;
        width: 10vw;
    }

    .back-icon, .next-icon {
        font-size: 10vw;
    }

    .btn-contact {
        font-size: var(--moblarge);
        padding: 1vw 10vw;
    }

    .btn-reset {
        font-size: var(--mobxsmall);
    }

    .btn-save {
        font-size: var(--moblarge);
        padding: 1vw 6vw;
        margin: 0;
    }
    
    .btn-submit {
        font-size: var(--moblarge);
        padding: .6vw 6vw;
        margin: 0 18%;
    }

    .formline select, .formline input {
        margin: 0 0.5vw 0 0;
    }

    .hero-form p, input, select {
        font-size: var(--mobsmall);
    }

    .icon-area {
        font-size: var(--mobmed);
    }

    .indented {
        padding: 1% 10%;
    }

    .map-side-sm {
        display: block;
    }

    .map-side-lg {
        display: none;
    }

    .material-icons{
        display: none
    }

    .slide{
        grid-template-rows: [top] 5vh [topmid] 14vh [centerline] 1vh [bottommid] 10vh [lowerbottom] 5vh [bottom] 4vh;
    }

    .tile > br {
        display: none;
    }

    .tiles-two, .tiles-multi {
        font-size: var(--moblarge);
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: unset;
    }

    .two-tile, .four-tile {
        width: 90%;
        height: unset;
        padding: 2vw;
        margin-bottom: 10px;
        font-size: var(--moblarge);
    }

    #about-headline h2{
        font-size: var(--moblarge);
    }

    #about h3 {
        font-size: var(--moblarge);
    }

    #bottom-line {
        font-size: var(--mobsmall);
    }   

    #btn-register {
        margin-top: 3vw;
        font-size: var(--mobsmall);
    }

    #employeeInfoTableHeadings p{
        font-size: var(--mobsmall);
        margin: 0 0.5vw 0 0;
    }

    #empError, #payrollError, #zipError, #milesError, #emailError {
        font-size: var(--mobsmall);
    }

    #hero {
        padding: 1% 8%;
    }

    #login-line {
        font-size: var(--mobsmall)
    }

    #quote-area h1, #quote-area h3 {
        font-size: var(--mobmed);
    }

    #partners img {
        height: 8vw;
    }

    #why-SARK {
        padding: 1% 12%;
    }

}



