a {
    text-decoration: none;
    color: #EF8354;
}

h4 {
    line-height: 24px;
    font-weight: 400;
}

#main {
    list-style-type: none;
    counter-reset: css-counters 0;
}

.counter {
    counter-increment: css-counter 1;
    color: rgb(55, 147, 255);
}

.counter:before {
    counter-increment: css-counters;
    content: counter(css-counter) ". ";
}


p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
}

.three-column-section {
    display: flex;
    gap: 22px;
}

.aligned {
    text-align: justify;
}

.centered {
    text-align: center;
}

.accented {
    color: rgb(55, 147, 255);
}

.mv-3 {
    margin-top: 30px; 
    margin-bottom: 30px; 
}

#main {
    /* background: #F5F3F5; */
    padding: 100px 10%;
}