/* color and font-size variables */
:root {
    --white: #F5F3F5;
    --light: #277EC3;
    --accent: #1C2541;
    --dark: #EF8354;
    --xsmall: 0.8vw;
    --small: 1vw;
    --med: 1.3vw;
    --large: 1.8vw;
    --mobxsmall: 2.8vw;
    --mobsmall: 3.5vw;
    --mobmed: 4.2vw;
    --moblarge: 5vw;
}

input, label {
    display: block;
    font-size: var(--small);
}

input {
    margin: .5vw 0 1.2vw 0;
    width: 98%;
    color: var(--light);
}

.card-heading {
    background: var(--light);
    color: var(--white)!important;
    padding: 1vw;
    border-bottom: 1px solid var(--light);
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-body {
    padding: 1vw;
}

.dark {
    background: var(--white);
}

.dark *:not(input, button, label) {
    color: var(--accent);
}

.login-card {
    margin: 0vw 30vw 0 30vw;
    border: 2px solid var(--accent);
    border-radius: 5px;
    font-size: var(--small);

}

#bottom-line {
    margin: 1vw 30vw 0 30vw;
    padding: 0 1vw 6vw 1vw;
    font-size: var(--small);
}

#btn-submit {
    padding: 0.6vw;
    background: var(--dark);
    border-radius: 4%;
    color: var(--white);
    transition: all 0.6s ease;
    font-size: var(--small);
    width: 98%;
    text-align: center;
}

/* ----------
Media Queries
---------- */

@media only screen and (max-width: 700px) {


    input, label, select {
        font-size: var(--mobsmall);
    }

    #bottom-line, #btn-submit{
        font-size: var(--mobsmall);
    }
    
    #bottom-line {
        margin: 1vw 10vw 0 10vw;
    }

    .login-card {
        margin: 0vw 10vw 0 10vw;
        font-size: var(--mobsmall);
    }
}