

input, label {
    display: block;
    font-size: 1.1vw;
}

input {
    margin: .5vw 0 1.2vw 0;
    width: 98%;
    color: rgb(65, 65, 65);
}

.card-heading {
    background: rgb(150, 160, 185);
    color: white;
    padding: 1vw;
    border-bottom: 1px solid grey;
    margin-block-start: 0;
    margin-block-end: 0;
}

.card-body {
    padding: 1vw;
}

.dark {
    background: rgb(228, 228, 228);
}

.dark *:not(input, button, label) {
    color: rgb(17, 61, 102);
}

.login-card {
    margin: 0vw 30vw 0 30vw;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1vw;

}

#bottom-line {
    margin: 1vw 30vw 0 30vw;
    padding: 0 1vw 6vw 1vw;
    font-size: 1.1vw;
}

#btn-submit {
    padding: 0.6vw;
    background: green;
    border-radius: 4%;
    color: white;
    transition: all 0.6s ease;
    font-size: 1.1vw;
    width: 98%;
    text-align: center;
}
