.payroll-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payroll-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 3px 1fr;
    grid-template-columns: 1fr 1fr 3px 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-radius: 10px;
    background-color: #fff;
}

.formline {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
}

.payroll-columns {
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    /* -ms-grid-columns: 40px 0.5fr 0.25fr 1fr;
    grid-template-columns: 40px 0.5fr 0.25fr 1fr; */
    -ms-grid-columns: 40px 260px 215px 260px;
    grid-template-columns: 40px 260px 215px 260px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.table-header {
    margin-right: auto;
    margin-left: auto;
    font-size: 24px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.table-field {
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    margin: 0 12px;
}

.form-button.payroll {
    margin: 20px 20vw 0;
    padding-top: 0px;
    padding-right: 0vw;
    padding-left: 0vw;
}
  
.form-button-text.payroll {
    font-size: 18px;
    line-height: 125%;
    font-weight: 300;
}

.line {
    width: 3px;
    background-color: #1c2243;
}

.payroll-total-column {
    width: 14vw;
    min-width: 150px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.total {
    margin-top: 4px;
    width: 6em;
}

.total-payroll {
    margin: 20px 0;
    color: #1c2243;
    font-weight: 700;
    text-align: center;
}
  
.total-payroll-gray {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(28, 34, 67, 0.66);
    font-weight: 400;
}

.remove-type {
    max-width: 75%;
    margin-left: 20px;
}

#typeHeader {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
}

#amountHeader {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
}

#salaryHeader {
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
}
  
#addRow {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: 5;
}

#slide4 {
    position: absolute;   
}

  .colRemove {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }

  .colType {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  .colAmount {
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-column: 3;
    grid-column-start: 3;
  }

  .colSalary {
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-column: 4;
    grid-column-start: 4;
  }

  .row1 {
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }

  .row2 {
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
  }
  
  .row3 {
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row: 4;
    grid-row-start: 4;
  }

  .row4 {
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-row: 5;
    grid-row-start: 5;
  }

  .row5 {
    -ms-grid-row-span: 1;
    grid-row-end: 7;
    -ms-grid-row: 6;
    grid-row-start: 6;
  }

  .row6 {
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-row: 7;
    grid-row-start: 7;
  }

  .row7 {
    -ms-grid-row-span: 1;
    grid-row-end: 8;
    -ms-grid-row: 7;
    grid-row-start: 7;
  }

  .row8 {
    -ms-grid-row-span: 1;
    grid-row-end: 9;
    -ms-grid-row: 8;
    grid-row-start: 8;
  }

  .row9 {
    -ms-grid-row-span: 1;
    grid-row-end: 10;
    -ms-grid-row: 9;
    grid-row-start: 9;
  }

  .row10 {
    -ms-grid-row-span: 1;
    grid-row-end: 11;
    -ms-grid-row: 10;
    grid-row-start: 10;
  }

  @media screen and (max-width: 991px) {
    .payroll-columns {
      -ms-grid-columns: 40px 200px 130px 200px;
      grid-template-columns: 40px 200px 130px 200px;
    }
  }

  @media screen and (max-width: 767px) {
    .payroll-columns {
      -ms-grid-columns: 30px 170px 110px 170px;
      grid-template-columns: 30px 170px 110px 170px;
    }

    .form-button.payroll {
        padding-bottom: 0px;
      }

    .payroll-table {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }

      .form-button-text.payroll {
        margin-top: 5px;
        margin-bottom: 5px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      .line {
        width: 100%;
        height: 3px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
      }

      .payroll-total-column {
        display: none;
        width: 100%;
        min-width: 0px;
      }
  }

  @media screen and (max-width: 479px) {
    .remove-type {
        margin-left: 10px;
      }
  }