

.buttons {
    display: flex;
    position: relative;
    font-size: .8vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.left-button {
    background: rgb(254, 97, 97);
    color: white;
    border-radius: 10px 0 0 10px;
    padding: .7vw;
    margin: .1vw
}

.right-button {
    background: blue;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: .7vw;
    margin: .1vw
}

.left-button:hover, .right-button:hover {
    background: black;
}

.spaced {
    justify-content: space-between;
    width: 100%;
}

.text-portion {
    flex-grow: 1;
}

.tile {
    background: white;
    color: blue;
    padding: 1.6vw;
    transition: transform .6s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tile h4 {
    font-size: 1.4vw;
}

.tile p {
    font-size: 1.2vw;
    color: black;
}

.tile:hover {
    transform: scale(1.1);
}

#also {
    font-size: 1.8vw;
    margin: 0;
    padding-bottom: 0;
}

#banner {
    background: blue;
    color: white;
    text-align: center;
    margin: 0;
}

#banner h2 {
    margin: 0;
    padding: 2vw;
    font-size: 2vw;
}

#choose {
    font-size: 1.8vw;
    margin: 0;
    padding: 2.5vw;
}

#four-square {
    margin: 2vw 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
#four-square .tile {
    flex: 25%;
}

#quote-button {
    border-radius: 2000px;
    background: blue;
    color: white;
    font-size: 1.3vw;
    margin: 0vw 34vw;
    padding: .8vw;
}

#product-stack {
    display: grid;
    color: blue;
    gap: 1vw;
    text-align: center;
    padding: 1% 20%;
}

#product-stack h5 {
    background: white;
    font-size: 1.4vw;
    margin: .4vw 0;
}

#products {
    padding: 1% 32vw;

}

#products-page {
    background: rgb(235,239,254);
    text-align: center;
    margin: 0;
    padding-bottom: 3%;
}


