.bold {
    font-weight: 700;
}

.disabled {
    background: #1c2243;
    cursor: default;
}

.error {
    margin: 0;
    padding: 0;
    visibility: hidden;
    font-style: italic;
    font-size: medium;
    color: #EF8354;
}

#action-area {
    text-align: center;
    padding: 12px 48px;
    font-size: 24px;
}

#confirmation {
    line-height: 1;
    text-align: left;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}

#quote-area {
    text-align: center;
    padding: 12px 24px 4px;
    font-size: 20px;
}

#result-area {
    background: white;
    padding: 14px 11vw;
    margin: 0px 60px;
}

#slide5 {
    position: absolute;   
}

#slide5Email {
    width: 100%;
    font-weight: 400;
    text-align: center;
}

#slide5Name {
    text-align: left;
}
