<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKER'S COMPENSATION ESTIMATE</title>
    <link rel="stylesheet" href="../public/estimate.css">
</head>
<body>
    <section class="header-area">
        <div class="left-side">WORKER'S COMPENSATION ESTIMATE</div>
        <div class="right-side">
            <p class="accent">SARK INSURANCE SERVICES</p>
            LIC: 0127782
            Question? Call (209) 645-9620
        </div>
        <img src="../public/images/logo.svg" alt="" >
    </section>
    <section>
        <div id="headline">
            <h3 class="centered">BUSINESS NAME: <span class="underline"></span><span id="businessName"><%= name %></span><span class="underline"></span></h3>
            <h3>NAME INSURED: <span class="underline"></span><span id="insuredName">     </span><span class="underline"></span></h3>
            <h3>EMP. LIABILITY INSURANCE: </h3>
        </div>
        <div id="schedule-table">
            <h3>SCHEDULE OF OPERATIONS</h3>
            <table>
                <thead>
                    <th>State</th>
                    <th>Class Code</th>
                    <th>Classification</th>
                    <th>Estimated Payroll</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
            </table>
        </div>
        <div id="premium-schedules">

        </div>
    </section>
    <section id="page1-footer">
        <p class="disclaimer">The Net Rate(s) shown above do not include Expense Constant, Terrorism, Catastrophe, or Policy Administration Fee, in
            states where these rating factors apply. Terrorism and Catastrophe is based on total estimated payroll. Policy Administration
            Fee is based on manual premium at time of binding risk; not subject to re-rating in the event of endorsement, cancellation,
            audit or any other event/occurrence; fully earned at policy inception; will not be pro-rated in the event of cancellation; cannot
            be waived. Specific waiver of subrogation is 5.0% of Manual Premium Based on Waiver Premium, subject to $250 minimum.
            Blanket waiver of subrogation is 2.5% of Total manual Premium (subject to $750 minimum).
        </p>
    </section>
    <section class="header-area">
        <div>WORKER'S COMPENSATION ESTIMATE</div>
        <div>

            SARK INSURANCE SERVICES      
            LIC: 0127782
            Question? Call (209) 645-9620
        </div>
    </section>
    <section id="installments">

    </section>
    <section id="instructions">

    </section>
    <section id="page2-footer">
        <div>
            <p class="disclaimer">All estimate are subject to change based on accurate underwriting information, changes in state rates, experience modifications, or any other items by jurisdictions that have control over such items. Final premium will be determined at the end of the policy period, after payrolls have been audited. This estimate is strictly conditioned upon no material change in the risk (including but not limited to claims and potential claims), between the date of this estimate and the inception date of the proposed policy. The insured is required to advise the potential Insurer of any changes immediately and prior to binding the coverage. In the event of such change in risk, the Insurer may in its sole discretion, whether or not this quotation has been already accepted by the Insured, modify and/or withdraw its quotation.
            </p>
        </div>
        <div id="partners">

        </div>
    </section>
</body>
</html>