<!DOCTYPE html>
<html lang="en">
<head>
    <!-- NAME: WIDE -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your workers' compensation insurance quote from TruckerComp</title>

</head>
<body style="font-family: Helvetica, sans-serif; color:#2b2b2b; letter-spacing:.02em;">
    <!--*|IF:MC_PREVIEW_TEXT|*-->
    <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display: none;font-size: 0px;line-height: 0px;max-height: 0px;max-width: 0px;opacity: 0;overflow: hidden;visibility: hidden;mso-hide: all;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;">Preview</span><!--<![endif]-->
    <!--*|END:IF|*-->
    <table style="margin: 0 auto;width:100%;max-width:730px;">
        <tr><td style="text-align: center;">
                <img src="https://sarkstorage.blob.core.windows.net/sarkemail/header-img-1-truck.png" alt="SARK Logo" style="width:100%;-webkit-box-shadow: 0 8px 6px -6px #777;-moz-box-shadow: 0 8px 6px -6px #777;box-shadow: 0 6px 8px -6px #777;">
        </td></tr>
    </table>
    <table style="margin: 40px auto;max-width:680px;width:100%">
        <tr><td style="line-height:50px">Hello <span style="font-weight: 600;"><%= client.name %></span></td></tr>
        <tr><td style="line-height:20px">Hey, we just recieved your request for a quote from TruckerComp. Based on the information you have provided, we are attaching an estimate based on how much TruckerComp predicts you will pay.<br>
            Additionally, someone from our team will contact you shortly about your business needs and solutions.</td></tr>
        <tr><td style="line-height:30px">Thank you for reaching out to us, we hope to talk to you soon!</td></tr>
        <tr><td style="line-height:50px">Sincerely,</td></tr>
        <tr><td style="font-style: italic;">Worker's Comp Team</td></tr>
    </table>
    <div class="line-break" style="margin: 30px auto;width: 80%;height: 1px;background: lightgray;max-width:650px"></div>
    <table style="margin: 0 auto;max-width:730px;width:100%">
        <tr>
            <td colspan="4" style="text-align: center;color: #003375bb;font-size: 20px;letter-spacing: .02em;font-weight: 600;">Our Partners</td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/logo-clearspring.png" alt="Clear Spring Insurance Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 150px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/aig-logo.png" alt="AIG Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 120px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/employers-logo.jpg" alt="Employers Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 150px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/great-american-logo.png" alt="Great American Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 150px;max-height: 90px;"></td>
        </tr>
        <tr>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/markel-logo.jpg" alt="Markel Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 120px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/state-fund-logo.png" alt="State Fund Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 110px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/zurich-logo.png" alt="Zurich Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 150px;max-height: 90px;"></td>
            <td style="text-align: center;"><img src="https://sarkstorage.blob.core.windows.net/sarkemail/pie-logo.png" alt="PIE Insurance Logo" style="width:100%;margin: 0;font-family: Helvetica, sans-serif;color: #2b2b2b;box-sizing: border-box;max-width: 150px;max-height: 90px;"></td>
        </tr>
    </table>
    <table style="text-align: center;margin: 40px auto;width:100%;max-width:730px;background-color: rgb(60, 60, 60); color: white;font-weight: 300;font-size: 14px;">
        <tr><td style="line-height: 40px;font-size: 14px;">Copyright &#169; <span id="date-time"><%= date %></span>, SARK INSURANCE SERVICES, INC, All rights reserved.</td></tr>
        <tr><td>Our mailing address is:</td></tr>
        <tr><td style="color:white">wc@sarkinsurance.com</td></tr>
        <tr><td style="color:rgb(60, 60, 60)">.</td></tr>
    </table>
</body>
</html>