#banner {
    background: blue;
    color: white;
    text-align: center;
    margin: 0;
}

#banner h2 {
    margin: 0;
    padding: 2vw;
    font-size: 2vw;
}

#products {
    padding: 1% 34%;

}



#products-page {
    background: rgb(235,239,254);
    text-align: center;
    margin: 0;
}

#products-page h3 {
    font-size: 1.8vw;
    margin: 0;
    padding: 2.5vw;
}

.buttons {
    display: flex;
    position: absolute;
    bottom: 1.5vw;
    font-size: .8vw;
}

.left-button {
    background: rgb(254, 97, 97);
    color: white;
    border-radius: 10px 0 0 10px;
    padding: .5vw;
}

.right-button {
    background: blue;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: .5vw;
}

.left-button:hover, .right-button:hover {
    background: black;
}

.tile {
    background: white;
    color: blue;
    padding: 1.6vw;
    transition: transform .6s ease-in-out;
    position: relative;
}

.tile:hover {
    transform: scale(1.1);
}

#four-square {
    margin: 2vw 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}
#four-square .tile {
    flex: 0 12.1vw;
    /* width: 46vw; */
}

#quote-button {
    border-radius: 2000px;
    background: blue;
    color: white;
    font-size: 1.3vw;
    margin: 2vw 7vw;
    padding: .8vw;
}

#product-stack {
    display: grid;
    width: 100%;
    color: blue;
    gap: 1vw;
    text-align: center;
}

#product-stack a {
    background: white;
}




/* .wide-tile {

} */